[2020-10-20 08:16] Irev-Dev opened #18 "Set Title of CadHub website"
Currently, the title of the website is just "repo" which is the default for a Redwood app.
![image](https://user-images.githubusercontent.com/29681384/96559390-b870d300-1308-11eb-9960-246315775ef1.png)
It's easy to fine in index.html however it set as:
`<title><%= htmlWebpackPlugin.options.title %></title>`
and it's not clear where the title is set for this. It should be changed to "CadHub".
If yo

[2020-10-20 08:44] Irev-Dev opened #19 "Improve integration with cascade studio"
Currently, CadHub has a very incomplete integration with a fork of CascadeStudio.
Original: https://github.com/zalo/CascadeStudio
My fork: https://github.com/Irev-Dev/CascadeStudio

The integration is working locally, but is buggy and tends to stop working after opening a second project/part, and it doesn't work at all on the live website, So debugging this might involve a bunch of deploys to see

[2020-10-20 08:48] Irev-Dev opened #20 "Design and add a logo to the website"
There is no logo for the current website and we need one
![image](https://user-images.githubusercontent.com/29681384/96562844-f53ec900-130c-11eb-8eab-66ce8d6270f1.png)
There's just a circle.

If you have logo design chops feel free to pitch something. I'm not too fussy about the look of it, so long as it looks "designed" though, obviously I reserve the right to turn down attempts where no effort h

[2020-10-20 09:03] Irev-Dev opened #21 "Add image upload to "Parts""
Currently, when parts are created or edited, a string can be set to a image url, to be the main image for the part.
https://cadhub.xyz/parts/1/edit
or
https://cadhub.xyz/parts/new
This should instead be a file upload for images.
Use https://www.filestack.com
This should be a fairly straight forward task as redwood already has an excellect cookbook guide for just this.
https://redwoodjs.com/cookboo

[2020-10-20 15:28] RedLinus commented on #18
Perfect, I was looking into Redwood. Can you assign it to me? 🙂

[2020-10-20 18:04] Irev-Dev commented on #18
Done

[2020-10-20 18:59] #18 closed

[2020-10-20 21:05] pratskalive08 commented on #20
Hey! Can you assign this to me?

[2020-10-20 21:23] Irev-Dev commented on #20
Assigned @pratskalive08.

[2020-10-23 16:13] lapohjan commented on #20
I would love to contribute to this.

[2020-10-23 19:00] Irev-Dev commented on #20
@lapohjan Do you have any other design related ideas for the website you could contribute? I'm open to ideas?
Since hacktober fest is based on merged pull requests I wouldn't wont to take this away from @pratskalive08.
How are you going @pratskalive08, would you like any help?

[2020-10-24 03:13] Irev-Dev opened #24 "Make Part Card Component"
`<PartCard title={title} imageUrl={imageUrl} emotes={emotes} />`
![image](https://user-images.githubusercontent.com/29681384/97066469-7f36ac80-1601-11eb-8531-b3c141713160.png)
#### The part component will be used for displaying many parts on the parts page.
![image](https://user-images.githubusercontent.com/29681384/97066482-9d041180-1601-11eb-94a7-a399eb89a498.png)
#### The component should:
- Be

[2020-10-24 04:43] Irev-Dev commented on #24
When I say styled with Tailwind, I would expect 90+% to be done with tailwind, but it's fine to opt-out to regular CSS for situations where the CSS is very custom and not well suited to tailwind. For example the purple transparent gradient on the images.
[code]

[2020-10-24 06:33] lapohjan commented on #20
Ok, totally understand. I'll think about it.

[2020-10-24 18:40] pratskalive08 commented on #20
@Irev-Dev Hi, I think I could do with a little help. I made the logo and added it to the favicon. However, I'm not able to figure out the navbar part.

[2020-10-24 18:58] Irev-Dev commented on #20
Great @pratskalive08  😁
You should be able to add an `<img />` element here -> https://github.com/Irev-Dev/cadhub/blob/6f1eb0ed800b254b5d78ba2df06d55700a3d8a54/web/src/layouts/MainLayout/MainLayout.js#L19

[2020-10-25 02:22] Irev-Dev opened #26 "Style the nav bar"
Our nav-bar should look like this:
![image](https://user-images.githubusercontent.com/29681384/97097270-e9635600-16c2-11eb-8333-46bad7f39c38.png)
But currently looks like this:
![image](https://user-images.githubusercontent.com/29681384/97097314-4a8b2980-16c3-11eb-8b3f-34c8fbc2a0d9.png)

- Styles should be done in tailwind css (note: gradients can be [like so](https://tailwindcss.com/docs/gradient

[2020-10-25 03:38] Irev-Dev commented on #21
I'm going to get started on this one.

[2020-10-25 05:26] yencolon commented on #26
Hi, I would like to help with this!

[2020-10-25 05:52] Irev-Dev commented on #26
It's all yours @yencolon

[2020-10-25 07:22] lenadgit commented on #24
I would like to work on this task

[2020-10-25 07:27] Irev-Dev commented on #24
It's all your @lenadgit

[2020-10-25 10:54] saurabh786iit commented on #26
Hey,
Please assign this to me

[2020-10-25 12:27] boschie opened #29 "Weird looking in browser brave on phone."
Hello,

I just opened the website on my phone but the lay-out is not looking good.
See image:

![Screenshot_20201025-132234](https://user-images.githubusercontent.com/2402124/97107064-bc647280-16c5-11eb-9dfd-f1300b5d5296.jpg)

With kind regards,

Hendrie Bosch

[2020-10-25 18:28] Irev-Dev commented on #29
Thanks Hendrie,

The website is only in the begining of development, and not in a ready state. I'll leave this issue open for now, but I expect it to be resolved naturally as the project progresses.

[2020-10-25 21:24] Irev-Dev commented on #26
Sorry @saurabh786iit, it's already assigned.

[2020-10-26 08:12] Yash-R commented on #21
hey, i would like to help with this

[2020-10-26 10:07] Irev-Dev opened #32 "Integrate <ImageUploader /> into User form"
Should be fairly straight forward, and I suspect will be very similar to this [diff](https://github.com/Irev-Dev/cadhub/pull/31/files#diff-c89ec35f2fb0fac5ba1c85209baac6065242092d0d72e40f4f4645a57cfd3a74) full [PR is here too](https://github.com/Irev-Dev/cadhub/pull/31)

I believe the file main file that needs to be changed is `web/src/components/UserForm/UserForm.js`

What to have a go at this on

[2020-10-26 10:09] Irev-Dev commented on #21
Sorry @Yash-R  I've already done this with #31
Ended up going with Cloudinary, But I made a [issue](https://github.com/Irev-Dev/cadhub/issues/32) just for you, it's much easier than this one though so let me know if you want to do it or not. I'm happy to think of something more challenging if you would like. There is lots to do.

[2020-10-26 10:09] #21 closed

[2020-10-26 10:20] Yash-R commented on #32
Okay so what you are trying to say is we can also add image uploader at the time of signup, if yes than this can be done exactly as you have done for parts right @Irev-Dev ?

[2020-10-26 10:21] Irev-Dev opened #33 "Parts Page"
There are designs for the part page
![image](https://user-images.githubusercontent.com/29681384/97160763-f0788a00-17d0-11eb-828b-e1ac5306a21f.png)
I haven't given it enough thought to write up a good issue, but someone is more than welcome to have a crack at it.
Please use tailwind to style
[Designs can be found here](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/CadHub?node-id=28%3A0)

[2020-10-26 10:24] Irev-Dev opened #34 "PAUSED: User page"
## ISSUE IS PAUSED!
as it depends on #45, #46 and #47. Feel free to have a look at those.
I'll unpause this when those are ready to go

There are designs for the part page
![image](https://user-images.githubusercontent.com/29681384/97161092-6c72d200-17d1-11eb-9709-fc1dbc6d57d6.png)

Please use tailwind to style
[Designs can be found here](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/CadHub?no

[2020-10-26 10:30] Irev-Dev commented on #32
I think it will be more that the user can edit it after they sign up, I think it would be difficult to put it into the sign up flow, since I'm using netlify's identity service, and using their modals so not in complete control of the UI for that.

The UserForm is used for both creating and editing users.

Redwood has generated users a simple CRUD operation, and I haven't woven permissions into it

[2020-10-26 10:39] Yash-R commented on #32
okay, I got it so can i try adding image uploader at the time of sign up and also editable

[2020-10-26 11:39] sooster910 commented on #34
Hi 👋  @Irev-Dev . Can I try to work on ?

[2020-10-26 16:27] yencolon commented on #26
Hey @Irev-Dev I followed the installation steps but when running the app I got a database error 😬

[2020-10-26 18:08] Irev-Dev commented on #32
Yup, but if sign up is too hard, I'll still merge your PR without it.

[2020-10-26 18:08] Irev-Dev commented on #34
Go for it. Assigned.

[2020-10-26 18:30] Irev-Dev commented on #26
Oh hmm try `yarn rw db up`

[2020-10-26 18:32] Irev-Dev commented on #29
Yeah you can if want, though I think it's likely to conflict with #29.
Let me know if you still want to do it.

[2020-10-26 18:36] Matheusdoe-dev commented on #29
Yes, I want :)

[2020-10-26 18:43] Irev-Dev commented on #29
It's assigned.

[2020-10-26 18:52] yencolon commented on #26
Yeah, that works. Thanks.

[2020-10-26 18:56] Irev-Dev commented on #26
I just updated the read me. Thanks for catching this one @yencolon

[2020-10-26 18:58] Irev-Dev commented on #34
I just updated the setup guide in the readme,
You'll also need to run
```yarn rw db up```
after `yarn install`
Wanted to mention it here, because you're bound to hit this issue.

[2020-10-26 18:58] Irev-Dev commented on #32
@Yash-R
I just updated the setup guide in the readme,
You'll also need to run
```yarn rw db up```
after `yarn install`
Wanted to mention it here, because you're bound to hit this issue.

[2020-10-26 18:59] Irev-Dev commented on #29
@Matheusdoe-dev
I just updated the setup guide in the readme,
You'll also need to run
```yarn rw db up```
after `yarn install`
Wanted to mention it here, because you're bound to hit this issue.

[2020-10-26 18:59] Irev-Dev commented on #24
@lenadgit
I just updated the setup guide in the readme,
You'll also need to run
```yarn rw db up```
after `yarn install`
Wanted to mention it here, because you're bound to hit this issue.

[2020-10-26 18:59] Irev-Dev commented on #20
@pratskalive08
I just updated the setup guide in the readme,
You'll also need to run
```yarn rw db up```
after `yarn install`
Wanted to mention it here, because you're bound to hit this issue.

[2020-10-26 19:00] Yash-R commented on #32
Thanks, I was just about to ask this issue

[2020-10-26 21:18] pratskalive08 commented on #20
@Irev-Dev Thanks a lot! :D I'm almost done. I'll send it out asap.

[2020-10-26 23:02] yencolon commented on #26
Fonts should be added via CDN or local?

[2020-10-26 23:23] Matheusdoe-dev commented on #29
Alright, thanks!

[2020-10-27 02:11] rohansp commented on #33
@Irev-Dev I would like to work on this if no one is assigned.

[2020-10-27 07:12] Yash-R commented on #32
hey is it possible to get the URL of Netlify site @Irev-Dev ?

[2020-10-27 08:35] Irev-Dev commented on #26
Lets go local, it will be served by Netlify's CDN anyway.

[2020-10-27 08:36] Irev-Dev commented on #33
It's all yours. Assigned.

[2020-10-27 08:40] Irev-Dev commented on #32
If you put up a PR netlify will build a new url, if the If you put WIP in the PR title I'll know not to start reviewing it. Is that what your after?
I might need to approve it in netlify actually.

[2020-10-27 09:14] Yash-R commented on #32
sorry, I am using netlify for the first time i don't have any idea what you are talking about.

[2020-10-27 09:24] Irev-Dev commented on #32
You shouldn't have to worry about netlify.
Put a pull request up here on github. There is a netlify integration that will recognise the PR, I'll hit build and then a URL will show up within the pull request that you can access.
And if you not ready for me to have a look at the PR just put WIP (work in progress) in the PR title and I'll know not to look at it yet.

[2020-10-27 09:37] Yash-R commented on #32
okay, got i'm creating a pull request

[2020-10-27 09:37] Yash-R commented on #32
okay got it i'm creating a pull request

[2020-10-27 11:19] Yash-R commented on #32
@Irev-Dev  can you please briefly explain me what should i basically do because there are many routes and i'm little confused

[2020-10-27 12:16] deepakkanojia opened #37 "Sign in"
there is a bug

[2020-10-27 12:59] AugustoZanoni commented on #26
#38 Solved

[2020-10-27 15:19] yencolon commented on #26
Hi @AugustoZanoni, thanks for collaborating, I guess @Irev-Dev can merge some our code :)

[2020-10-27 16:37] MananDesai54 commented on #34
hi @Irev-Dev can i work on it?

[2020-10-27 16:38] MananDesai54 commented on #37
What is the bug ? @deepakkanojia

[2020-10-27 17:28] Irev-Dev commented on #37
lol good bug report. any more info? @deepakkanojia

[2020-10-27 18:56] Irev-Dev commented on #26
Sorry @AugustoZanoni, I had to close your PR.

Thanks @yencolon 🚀

[2020-10-27 18:56] #26 closed

[2020-10-27 19:50] sooster910 commented on #34
@Irev-Dev I might take a while to finish this up.  @MananDesai54  You can go head !

[2020-10-27 19:59] MananDesai54 commented on #34
Okay

[2020-10-27 20:08] Irev-Dev opened #45 "Make editable key: vaule input"
The profile have the following styled input
![image](https://user-images.githubusercontent.com/29681384/97355917-bd76e900-18eb-11eb-90e6-1697431aa839.png)

For this issue you need to:
- Make a react component for the above
- It should at least have 3 props 1) isEditable: boolean, 2) value: string 3) onChange: callback
- Style with tailwind css

Design can be [found here](https://www.figma.com/file

[2020-10-27 20:18] Irev-Dev opened #46 "Make avatar, with updatable state"
The profile page will have following updatable avatar component
![image](https://user-images.githubusercontent.com/29681384/97356658-b3091f00-18ec-11eb-81bb-cdf60f0fa0cc.png)

For this issue you need to:
- Make a react component for the above extending/modifying the [ImageUploader component](https://github.com/Irev-Dev/cadhub/blob/main/web/src/components/PartForm/ImageUploader.js)

![image](https:

[2020-10-27 20:26] Irev-Dev opened #47 "Override "rich-markdown-editor" styles"
The profile page uses "rich-markdown-editor" for displaying and editing markdown though it needs to look like this
![image](https://user-images.githubusercontent.com/29681384/97357618-2cedd800-18ee-11eb-89ab-c9ffab333f7a.png)
But currently look like this with default styles
![image](https://user-images.githubusercontent.com/29681384/97357789-70e0dd00-18ee-11eb-9555-a4b08620d1f1.png)

For this issu

[2020-10-27 20:28] Irev-Dev commented on #34
I decided that this issue was too big and vague, so I've instead broken it down into #45, #46 and #47.
If either of you @sooster910 and @MananDesai54 would like to work on these let me know!

For now I'm not going to assign anyone to this issue until the above 3 are done.

[2020-10-27 20:50] Irev-Dev opened #48 "Make "user-name / part" component"
The page needs the following component
![image](https://user-images.githubusercontent.com/29681384/97360119-db474c80-18f1-11eb-8122-8b6c34b770bf.png)

For this issue you need to:
- Make a react component for the above
- It should at least have 2 props 1) userName: string, 2) partName: string
- Style with tailwind css

Design can be [found here](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/Cad

[2020-10-27 20:51] Irev-Dev commented on #48
Font is roboto and has already been added to the tailwind config.

[2020-10-27 21:07] lyonsbp commented on #48
I can take this one!

[2020-10-27 21:18] Irev-Dev opened #49 "Make emoji reaction component"
The page needs the following component
![image](https://user-images.githubusercontent.com/29681384/97361113-3463b000-18f3-11eb-8c15-968d8c7b65b1.png)
![image](https://user-images.githubusercontent.com/29681384/97362454-2878ed80-18f5-11eb-8457-0ae096d9f9c1.png)

For this issue you need to:
- Make a react component for the above
- It should have 2 props 1) emotes: array (more info below) 2) callback

[2020-10-27 21:24] Irev-Dev commented on #33
Hey @rohansp, I've been thinking about this issue and I've decided it's too big and vague

🤦‍♂️
So I've broken it down into the following issues instead.
#46, #48 , #49

Let me know what you've so far and I can assign some of them to you.
This issue will still be good to have for the final layout and parts not covered by the above issues.

[2020-10-27 21:27] Irev-Dev commented on #48
Hey, @lyonsbp thanks for volunteering. I've assigned it to you, but please note there is overlap between this issue and #33, and we might have to negotiate with @rohansp if there are conflicts.

[2020-10-27 21:36] lyonsbp commented on #48
Gotcha, I just submitted the PR anyway since I didn't see that message.

[2020-10-28 00:00] mvarrieur commented on #49
Can I take this one?

[2020-10-28 00:11] Matheusdoe-dev commented on #45
is it only to do this input editable key ? is it anything else ? I can do this.

[2020-10-28 03:16] rohansp commented on #46
@Irev-Dev So, initially the user page will have the edit pencil icon on the image.User will click on this pencil and upload new image. After 100% image is uploaded the below image without the pencil icon is shown. Is this the behavior? You can assign this to me.

[2020-10-28 03:20] rohansp commented on #46
@Irev-Dev I am having trouble with yarn. yarn --force is taking too much time. Will keep you posted.

[2020-10-28 03:27] rohansp commented on #33
I will work on #46

[2020-10-28 03:37] MananDesai54 commented on #34
@Irev-Dev I'll start with #45

[2020-10-28 03:37] rohansp commented on #46
@Irev-Dev I am getting this error.
![image](https://user-images.githubusercontent.com/11171608/97387933-0788ac00-18a5-11eb-99b7-d029668e7617.png)
Need your feedback

[2020-10-28 03:38] MananDesai54 commented on #45
Can I start with it ?@Irev-Dev

[2020-10-28 03:47] rohansp commented on #46
@Irev-Dev yarn rw dev gives this error after opening the link http://localhost:8900 in Chrome and I see Something went wrong message on page.

[2020-10-28 03:53] rohansp commented on #46
@Irev-Dev Tried the yarn rw dev command on Windows Powershell in VS Code. Keep getting web | [HPM] Error occurred while trying to proxy request /graphql from localhost:8910 to http://[::1]:8911 (ECONNRESET) (https://nodejs.org/api/errors.html#errors_common_system_errors)
![image](https://user-images.githubusercontent.com/11171608/97388933-2d16b500-18a7-11eb-8505-5ec60e950265.png)

Am I missing som

[2020-10-28 07:44] Irev-Dev commented on #46
Sorry I can't help you with you errors, I'm an a mac, and I haven't run into anything like this. Looks pretty system specific to me

So whether the pencil shows or not should be controled by `isEditable` prop, that way the same component can be used to display the avatar on the profile page, and then again on the edit profile page where there pencil will show up.

[2020-10-28 07:47] Irev-Dev commented on #45
Yup, all yours @MananDesai54

[2020-10-28 07:56] Irev-Dev commented on #46
@rohansp I've had a look on both the redwood forums and the discord and couldn't find anyone who's hit the same error.
I've found the community to be very responsive if you wanted to ask on the discord. https://discord.com/invite/jjSYEQd

Sorry about the hassle, there's no obligation to keep push through it if you not enjoying it anymore.

[2020-10-28 10:16] #49 closed

[2020-10-28 18:26] #48 closed

[2020-10-28 18:38] Irev-Dev commented on #32
Sorry I've been slow @Yash-R .
So I've given you account admin rights.
![image](https://user-images.githubusercontent.com/29681384/97481089-68e57380-19a8-11eb-8df9-79a6937c8b25.png)
So you should be able to use the user routes now.
If you go to http://localhost:8910/users you should see users local to your machine
![image](https://user-images.githubusercontent.com/29681384/97481181-8fa3aa00-19a8-1

[2020-10-28 18:40] #29 closed

[2020-10-29 01:31] mvarrieur commented on #46
@rohansp @Irev-Dev I found that redwood API/backend just crashes completely on the latest v12 version of Node (12.19.0). 12.18.x was working for me. Looks like you might be having the same issue. I didn't try v14 since it just went LTS yesterday

[2020-10-29 01:34] rohansp commented on #46
Okay Thanks Michael. I will try it out.

On Wed, Oct 28, 2020 at 8:31 PM Michael Varrieur <notifications@github.com>
wrote:

[2020-10-29 07:07] Yash-R commented on #32
Yes now i got it!

[2020-10-29 07:43] Yash-R commented on #32
Okay @Irev-Dev I have successfully created ImageUploader
![Screenshot (6)](https://user-images.githubusercontent.com/41328269/97539746-83d7d800-19e8-11eb-8af6-fb454eda9472.png)
![Uploading Screenshot (7).png…]()

[2020-10-29 07:45] Yash-R commented on #32
But at http://localhost:8910/users its showing "No user yet" how can i fix this so that i can update edit rout also?
![Screenshot (8)](https://user-images.githubusercontent.com/41328269/97539914-cef1eb00-19e8-11eb-832b-353a334c5e7d.png)

[2020-10-29 07:49] Irev-Dev commented on #32
This might be a stupid question but have you tried clicking "Create one?" if not maybe try `http://localhost:8910/users/new`. does that work?

[2020-10-29 07:50] Irev-Dev commented on #32
Oh sorry I didn't see your previous message, if you hit save, what happens?

[2020-10-29 07:56] Yash-R commented on #32
It just create a flash message "User Saved"

[2020-10-29 08:18] Yash-R commented on #32
Now its working

![Screenshot (9)](https://user-images.githubusercontent.com/41328269/97542776-53df0380-19ed-11eb-8e82-27eb92c281c7.png)

[2020-10-29 08:37] Yash-R commented on #32
@Irev-Dev Is it possible to show direct image rather than this link.
![Screenshot (11)](https://user-images.githubusercontent.com/41328269/97544768-14fe7d00-19f0-11eb-817c-409221a6bd91.png)

[2020-10-29 09:28] Irev-Dev commented on #32
Yeah I'd assume by modifying web/src/components/User/User.js

[2020-10-29 09:44] Yash-R commented on #32
@Irev-Dev  Created
![Screenshot (12)](https://user-images.githubusercontent.com/41328269/97551769-63fce000-19f9-11eb-81f3-5b04c135f3cb.png)

[2020-10-29 10:04] Yash-R commented on #32
What should i do next ?

[2020-10-29 19:37] Irev-Dev commented on #32
Perhaps it's time for a pull request?

[2020-11-01 19:56] #32 closed

[2020-11-01 19:56] #20 closed

[2020-11-05 20:50] Irev-Dev commented on #46
Resolved by #59

[2020-11-05 20:50] #46 closed

[2020-11-05 20:51] Irev-Dev commented on #45
Resolved mostly by #60
https://github.com/Irev-Dev/cadhub/pull/60/files#diff-9cce7458d97c748ddccee1ed2d5aa824325f14eccc0aba00bfb60ad03d33e802

[2020-11-05 20:51] #45 closed

[2020-11-05 20:52] Irev-Dev commented on #34
resolved by #59 and #60

[2020-11-05 20:52] #34 closed

[2020-11-06 02:56] rohansp commented on #46
@Irev-Dev Sorry, couldn't find time to complete this.

[2020-11-06 06:06] Irev-Dev commented on #46
@rohansp No need to apologise. Thanks for having a go.

Did you make a start purely because of hacktoberfest, or do you like the project and want to contribute to some other part of it?

[2020-11-06 18:48] Irev-Dev opened #65 "Add welcome console.log"
If you open up the dev tool console on [theguardian.com](https://www.theguardian.com) there is a well formated console.log that invites folks to apply for jobs.
![image](https://user-images.githubusercontent.com/29681384/98403133-9626d580-20bc-11eb-8315-17bb6b94572b.png)

I'd like to have the same thing inviting folks to get involved in the project. This will make a good first issue since you don'

[2020-11-07 17:25] ezekielnizamani commented on #65
Hello. I would like to work on it

[2020-11-07 17:30] Irev-Dev commented on #65
Great, thanks. I've assigned it to you.
You should work of the `dev` branch, NOT `main` as I've got a lot of changes in dev about to go into main soon.
Let me know if you need any help with setup.

[2020-11-07 17:33] ezekielnizamani commented on #65
Okay thank you

[2020-11-07 17:34] Irev-Dev commented on #65
@ezekielnizamani, Lets make the message:

## Hey, 👋

CadHub is in active development - Want to lend a hand?
[https://github.com/Irev-Dev/cadhub](https://github.com/Irev-Dev/cadhub)

[2020-11-07 17:39] ezekielnizamani commented on #65
@Irev-Dev I would love to

[2020-11-07 17:43] ezekielnizamani commented on #65
@Irev-Dev  is this what I have to add to the console log?

[2020-11-07 17:47] Irev-Dev commented on #65
@ezekielnizamani Yes thanks.

[2020-11-07 18:06] ezekielnizamani commented on #65
@Irev-Dev  okay cool

[2020-11-07 18:08] ezekielnizamani commented on #65
@Irev-Dev  I use npm this my first time using yarn I am facing this problem when I run yarn install There appears to be trouble with your network connection. Retrying...

[2020-11-07 18:19] Irev-Dev commented on #65
@ezekielnizamani Oh okay, not sure I can help with that specific problem with yarn.
You should be able to use the comands using npm, try the following.

Install dependencies
[code]

Initialise the db
[code]

### Fire up dev
[code]

[2020-11-07 18:20] ezekielnizamani commented on #65
okay thank you

[2020-11-07 18:27] Irev-Dev commented on #65
@ezekielnizamani if it helps here's the line they use on the guardian

[code]
Looks like there are styles for each line, interesting. I didn't know these things about console.log
Here's a resource on the matter: http://www.softwareishard.com/blog/firebug/firebug-tip-styled-logging/

[2020-11-08 13:42] ezekielnizamani commented on #65
code is ready but can't add it to the project cause got some issues here is the code

`console.log(
  "\n%cHey, 👋.\n%c______________________________________________________________________________\n\n%cCadHub is in active development - Want to lend a hand? \n\n%chttps://github.com/Irev-Dev/cadhub",
  "font-family: Georgia, serif; font-weight:bold; line-height: 2rem; font-size: 32px; color: #3c366b

[2020-11-08 18:27] Irev-Dev commented on #65
Thanks @ezekielnizamani
Do you want to try and work through the issues or do you want to me to add the code?
It's fine for me to add the code but it means you will miss out on raising a pull request and being listed as a contributor, which is fine if you're not worried about that.

What were the issues that you hit?

[2020-11-08 18:29] Irev-Dev commented on #24
Resolved by #79

[2020-11-08 18:29] #24 closed

[2020-11-08 18:30] Irev-Dev commented on #33
Resolved by #79

[2020-11-08 18:30] #33 closed

[2020-11-08 20:49] Irev-Dev opened #80 "Fix "new" button"
![image](https://user-images.githubusercontent.com/29681384/98483956-2ea98b00-2260-11eb-8010-768799010d5f.png)
This button doesn't do anything, I did have it working but must have broken it. I think it probably has something todo with `useAuth` hook and how it's enabled.

[2020-11-08 20:52] Irev-Dev opened #81 "Make top right avatar into a drop down menu with the following two options: [profile, sign out]"
![image](https://user-images.githubusercontent.com/29681384/98483989-8647f680-2260-11eb-9f09-bd4a60530c09.png)
The same popover component from material ui that's used in `web/src/components/EmojiReaction/EmojiReaction.js` can be used for this.
atm the button immediately signs the user out which is not intuitive, plus there's no easy way for a user to get to their profile so this helps with both

T

[2020-11-09 07:44] Irev-Dev opened #82 "Add special regex to new user identity-signup function"

[2020-11-09 07:53] Irev-Dev opened #83 "Hook up "Comments" button"
This button:
![image](https://user-images.githubusercontent.com/29681384/98513663-53cbe700-22bc-11eb-9c9c-b908aa1ba9ab.png)
On the [partProfile page](https://cadhub.xyz/u/irevdev/involute-gears) has `11` hardcoded and it clicking it doesn't do anything.
1) 11 needs to be changed to a count of the comments (should be just be `Comments.length`)
2) clicking the button should scroll to the comments at

[2020-11-09 07:58] Irev-Dev commented on #81
Hey @Yash-R, I've assigned this one to you. I think it will be good because it's adding a bit of new functionality, and there's an example of something similar being used with the popover. Though another good issue might be #83. Let me know if you want to that instead or neither.

[2020-11-09 08:04] Yash-R commented on #81
okay, I can do both let do this one first is that okay @Irev-Dev
And please give me all the details for installing.

[2020-11-09 08:11] Irev-Dev commented on #81
Great,
And yup thanks for the reminder, working on that now.

[2020-11-09 09:01] Yash-R commented on #81
@Irev-Dev how long will it take?

[2020-11-09 10:02] Irev-Dev commented on #81
Sorry took me a while because I was setting a database seed. not the quickest way to get you up and running but good to have for future.
So you'll need to pull the latest main branch to get the changes I just made. Then you need to delete the sqlite db. it will be located at `api/prisma/dev.db`, so just delete this file.

Then run
[code]
sign into the app with

email: localUser1@kurthutten.com

pa

[2020-11-09 10:15] Yash-R commented on #81
thanks its working good now

[2020-11-09 16:49] Yash-R commented on #81
@Irev-Dev how can i access userName i have tried all posiible solution but the only error i got is userName is not defined

[2020-11-09 18:17] Irev-Dev commented on #81
@Yash-R,
UserName is: `local-user-1` and 2

http://localhost:8910/u/local-user-1

You can see the details of what seed data was added in `api/prisma/seeds.js`

Not directly related, but the sqlite browser can be handy for directly checking what's in the db. https://sqlitebrowser.org/dl/ once installed use it to open `api/prisma/dev.db`, just be aware that if you make changes to the data with sqlit

[2020-11-09 18:24] Yash-R commented on #81
Okay but I think there is some problem in useAuth because the new button is not working and current User is also not accessible.

[2020-11-09 18:25] Yash-R commented on #81
The problem is how to access user data in main file.

[2020-11-09 18:38] Irev-Dev commented on #81
Hmm, okay I'm not sure.
If I add a console log into MainLayout like so
![image](https://user-images.githubusercontent.com/29681384/98582255-d4b7cc80-2316-11eb-9858-973d036d9504.png)
Then I get an object like this in the console.
![image](https://user-images.githubusercontent.com/29681384/98582317-eef1aa80-2316-11eb-8a43-6f12de97acb2.png)
Does that work for you?
I don't know if signing out and back

[2020-11-09 20:37] rohansp commented on #46
@Irev-Dev I started with Hacktoberfest but idea of project using React and having interesting design increased my interest in this project.

[2020-11-10 09:59] Irev-Dev opened #88 "match reaction popover to designs (it should be horizontal)"

[2020-11-10 10:50] Yash-R commented on #81
![Screenshot (18)](https://user-images.githubusercontent.com/41328269/98664509-791a2d00-2370-11eb-85bc-735b374b177e.png)
![Screenshot (17)](https://user-images.githubusercontent.com/41328269/98664597-92bb7480-2370-11eb-8f66-4fc4e040df81.png)

@Irev-Dev its looking like this do you want me to change anything?

[2020-11-10 11:18] Yash-R commented on #80
Assign this to mr @Irev-Dev

[2020-11-10 11:51] #81 closed

[2020-11-10 15:00] Irev-Dev commented on #81
@Yash-R Looks great. Really glad to see you've got some design chops. Even simple things like a decent amount of padding to text can breath is not something I take for granted. Only tweak I'm thinking of is it might be good to align the right edge of the avatar with the right edge of the popover, what do you think?
I think that would be:
[code]
In the materialUi popover.

[2020-11-10 15:24] Irev-Dev opened #91 "Add notifications"
Seems like this is going to be needed eventually, but I guess definitely not needed at the current MVP. really not sure how the schema needs to change for this one. Might be worth asking on the redwoodjs forums.

[2020-11-10 16:15] #82 closed

[2020-11-10 16:15] #88 closed

[2020-11-10 16:16] #80 closed

[2020-11-11 07:59] Irev-Dev commented on #46
Nice @rohansp 😄 .
I've set up a github project board https://github.com/Irev-Dev/cadhub/projects/1
It's a little bare at the moment, but I hope to fill up the backlog with things I'd like to get done, if any of them interest you at anypoint feel free pick them up or chat to me about it. I'm also open to any ideas you have for the website.

I've also setup a discord server, its bit easier to chat i

[2020-11-11 08:33] Irev-Dev opened #95 "skip user query on main layout if the user is not signed in"
This is causing noise in the console.

[2020-11-11 20:56] Irev-Dev opened #97 "3D model in iframe as media preview."
Would be awesome if we had 3d view that is interactable right in the social media preview.
Like what sketchfab.com has done, example tweet.

https://twitter.com/matthieurouif/status/1326471429202694144

[2020-11-12 09:10] #95 closed

[2020-11-16 18:33] #19 closed

[2020-11-17 06:32] Irev-Dev opened #102 "Add React Helmet"
Important for SEO reasons,

[2020-11-17 06:32] Irev-Dev opened #103 "Make the home page a landing page. Give more info about the intention of cadhub"
Will be good to make sure folk arriving understand what the project is trying to achieve.

[2020-11-17 06:38] Irev-Dev opened #104 "Add basic project search"
Something basic will do using native database quries will be fine. See the prisma docs
https://www.prisma.io/docs/concepts/components/prisma-client/filtering#filter-conditions

We should be able to use "contains" on the title and description for a very basic search.

We might add elastic search or algolia later for a more advanced implementation

if you want to pick this one up, let me know and I'

[2020-11-17 13:33] Matheusdoe-dev commented on #102
Can I get this issue ? I can do this task setting dynamic title and seo meta tags on pages.

[2020-11-17 18:40] Irev-Dev commented on #102
Awesome thanks @Matheusdoe-dev .
Let's make it so that when someone is on a user page eg `/u/local-user-1`
We'll update the title to their username and update the social media image to their avatar.

and when someone is on a part page eg `u/local-user-1/demo-part1` or `u/local-user-1/demo-part1/ide`
We'll update the title to the part title and the social media image to the part's main image.

How'

[2020-11-17 18:45] Irev-Dev commented on #102
Oh and since you've worked on this project before, there's been an update to the submodules so you'll need to pull recursively.
`git pull --recurse-submodules`
and you need to run `yarn move-cad-worker`
and the db has changed, easiest thing to do will be to delete and reinit
Delete the file at `api/prisma/dev.db`
Then run
[code]

If you run into issues, probably the easiest thing is to start with

[2020-11-17 18:46] Matheusdoe-dev commented on #102
Right, I will use git clone again, is better.

[2020-11-17 18:48] Irev-Dev opened #107 "Add proper favicon support"
Favicon support is a mess.
This npm module might be worth running to generate everything we need?
https://www.npmjs.com/package/favicons

other resources
https://scotch.io/tutorials/all-favicons-for-all-devices-and-sizes

[2020-11-18 06:47] #107 closed

[2020-11-18 06:47] #65 closed

[2020-11-18 06:58] Irev-Dev opened #111 "Canabalize screen shot feature from cascade studio branch."
Zalo made a [really good point](https://github.com/zalo/CascadeStudio/issues/34#issuecomment-729307116) that we can canabalize features from his work on making a gallery. One thing he pointed out, in particular, is a [screen shot util](https://github.com/zalo/CascadeStudio/pull/13/files#diff-3a2ef84fe4f756611bf8c632a90125b74e275007110e8503a45032dc91490ec6R142-R156) he made that would be useful.

T

[2020-11-18 08:27] Yash-R commented on #91
Can you elaborate what kind of notifications you are saying about @Irev-Dev

[2020-11-18 17:40] Irev-Dev commented on #91
Standard app notifications for when something happens that involves the user. Someone comments on their part, or "react" to one of their parts, or mentions them in a comment (though that might be a little trick) etc

[2020-11-18 17:54] Yash-R commented on #91
yeah i got it thats a lot of work also but can do

[2020-11-18 20:46] Irev-Dev commented on #102
resolved by #113

[2020-11-18 20:46] #102 closed

[2020-11-18 20:55] Irev-Dev opened #116 "Upgrade to redwood 0.20"
See this forum post.
https://community.redwoodjs.com/t/intermitant-502-runtime-exiterror/1471/4

[2020-11-19 06:59] #83 closed

[2020-11-28 06:08] Irev-Dev commented on #116
resolved by #117

[2020-11-28 06:08] #116 closed

[2020-11-29 05:05] Irev-Dev opened #124 "Add analytics (probably google)"
Useful information about how to add analytics with the redwood router here
https://community.redwoodjs.com/t/site-analytics-for-redwoodjs/572
and here
https://community.redwoodjs.com/t/how-can-i-listen-for-router-changes/1020

Going to go with react-ga

[2020-11-29 07:58] #103 closed

[2020-11-29 08:19] #124 closed

[2020-11-30 20:35] Irev-Dev opened #129 "Handle user sign up without netlify modal"
Basically, we want to control the sign up flow, this will allow us to have a more custom look and feel, we can also ask if user's want to sign up to the newsletter at the same time.

Alternatives listed on the modal npm package
https://www.npmjs.com/package/netlify-identity-widget#list-of-alternatives

netlify docs
https://docs.netlify.com/visitor-access/identity/#enable-identity-in-the-ui

[2020-12-05 08:05] #129 closed

[2020-12-05 18:57] Irev-Dev commented on #129
This was a little more involved than I first imagined. There's some good info in the PR for implementing this. I also added a redwood forum post.
https://community.redwoodjs.com/t/dumping-the-netlify-identity-widget-using-gotrue-auth-with-email-verification/1550

[2020-12-05 19:00] Irev-Dev commented on #37
I've done a massive overhaul of the sign in process in #136, so if this ever was actually a bug, it's probably irrelevant now anyway. and without extra information, there's no way for me to check so I'm closing this issue.

[2020-12-05 19:00] #37 closed

[2020-12-05 19:02] Irev-Dev opened #138 "Add known issues helper text"
There are some bugs with the cascadeStudio integration that I know of. In order to fix them properly, I'd like to submit a PR to cascade studio in order to get it bundled but that's going to take a while. so in the meantime letting the user know of the issues and work around will help bridge the gap.

[2020-12-05 21:06] Irev-Dev opened #139 "Improve/overhaul cascade studio integration"
The current integration is very hacky as I was aiming primarily to get something working asap, also because the original project is not bundled it make the integration difficult.

I think the best approach is to make some PR to the original project to get it bundled and then redo the integration.

Some tips would be, that the current project initialization in for initing the editor etc as well as

[2020-12-05 21:22] Irev-Dev opened #140 "Fork button should open signup modal if user not signed it"
@yencolon Your welcome to it.
Look at how the `LoginModal` is used in `web/src/components/LandingSection/LandingSection.js`
`import LoginModal from 'src/components/LoginModal'`
It opens when the Signup button is clicked, you should pretty much be able to copy the same logic, just for the fork button when no user is signed in.
The fork button is in `web/src/components/IdeToolbar/IdeToolbar.js` and

[2020-12-05 22:44] Irev-Dev opened #141 "Fix change undo on regen/F5"
Due to an initing problem changes would get cancelled by pressing F5/regenerating the model.

[2020-12-06 18:15] #138 closed

[2020-12-06 18:16] #141 closed

[2020-12-11 15:01] yencolon commented on #140
Copied.

[2020-12-12 04:13] Irev-Dev opened #148 "Clean up old generated files"
There are a bunch of files with "2" in the name, like User2Cell, which need to be renamed.

[2020-12-12 04:17] Irev-Dev opened #150 "Update favicon"
The donut has too much detail for a favicon, updating to just the letter "C"

![image](https://user-images.githubusercontent.com/29681384/101973579-1c6ea280-3c8d-11eb-8b13-ac84c3568dc9.png)

[2020-12-12 04:32] Irev-Dev opened #152 "Add User's projects to their profile"
See designs [here](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/CadHub?node-id=40%3A54)
![image](https://user-images.githubusercontent.com/29681384/101975275-4e810400-3c8f-11eb-87ba-0f4a3533f5a1.png)

Currently, the only thing missing is the bottom section with the list of parts.
You should be able to re-use `web/src/components/Parts/Parts.js` to recreate the list, as this is already used on

[2020-12-12 08:27] YosephKS commented on #152
Hey @Irev-Dev, I am new to this repo and would love to contribute by resolving this issue.

[2020-12-12 08:32] #148 closed

[2020-12-12 08:32] #150 closed

[2020-12-12 08:34] Irev-Dev commented on #152
Awesome @YosephKS, thanks for the help.

The instructions in the readme for how to get setup should be up-to-date, I'll be as responsive as I can if you hit any snags.

Just trying to think of any extra details that will be helpful to you for this one.

Are you familiar with GraphQL?
I ask because you'll need to update a GraphQL query to get the data for these `parts`

[2020-12-12 08:36] Irev-Dev commented on #152
The user profile is in `web/src/components/UserProfile/UserProfile.js`

[2020-12-12 08:36] YosephKS commented on #152
@Irev-Dev Thank you very much for the opportunity!

And yes I am familiar with GraphQL, I usually use Apollo GraphQL for my projects.

[2020-12-12 08:37] Irev-Dev commented on #152
Perfect.

[2020-12-12 08:48] Irev-Dev commented on #152
So the query is in `web/src/components/UserCell/UserCell.js` and it gets passed down to the userProfile. You can either modify that to get the parts data or you can make a new "cell" that has it's own query and fetches data itself.

["Cell"](https://redwoodjs.com/tutorial/cells) is a redwoodjs term, so there would be a bit more to learn (unless you already are familiar with the framework). So prob

[2020-12-12 09:13] Irev-Dev opened #153 "Filter out parts without main image for the homepage"
Temporary measure while we don't have any kind of search. is basically to stop the website looking like it's filled with dumby data, which it looks like atm.

[2020-12-12 11:47] YosephKS commented on #152
@Irev-Dev btw does this looks good to you? maybe you want me to modify the margin/padding a bit?
![Screenshot from 2020-12-12 17-08-44](https://user-images.githubusercontent.com/48710170/101983015-7fbafd80-3caa-11eb-97cb-c3796f0047b2.png)

[2020-12-12 11:48] YosephKS commented on #152
@Irev-Dev also yeah for the GraphQL queries and mutations I think it would be better if they could be placed like in a seperate `GraphQL` folder, then it can be exported from there. I think it would look much nicer.

[2020-12-12 11:54] Irev-Dev commented on #152
Yeah that looks great, Thanks @YosephKS. Padding wise if you could match the vertical padding between "parts:" and the cards to be the same as `bio:" and the bio that would be good.

And don't move any of the GraphQL queries. Thanks for the offer but moving them out of the "Cell" components would go against redwoods "cell" philosophy. I'm not too opinionated about it myself, except for the fact th

[2020-12-12 11:56] YosephKS commented on #152
@Irev-Dev Oh I see cool, let me fix the padding a bit real quick then I'll make a PR.

Ah I see, I just know that about redwoods, maybe I can read more about it later because I haven't fully familiarized with the framework yet, but good to know.

[2020-12-12 13:46] YosephKS commented on #47
@Irev-Dev can I work on this next?

[2020-12-12 20:09] #152 closed

[2020-12-12 20:10] #140 closed

[2020-12-12 20:20] Irev-Dev commented on #47
@YosephKS You can, though I did add some overrides already, not using the rich markdown editor themes but instead with some overriding css, so it already looks "OK" not exactly the same as the design, the headings are still black. It looks like this atm.
![image](https://user-images.githubusercontent.com/29681384/101994008-191dfa00-3d13-11eb-9ad6-920ca48def21.png)

If you want you can style it all

[2020-12-13 01:25] Irev-Dev opened #159 "Add delete button to part profile (for part owner)"
![image](https://user-images.githubusercontent.com/29681384/102000704-403df100-3d3e-11eb-8c08-3a2c446aae8b.png)

[2020-12-13 01:53] #159 closed

[2020-12-13 01:59] #153 closed

[2020-12-13 08:06] Irev-Dev opened #164 "Add license section for parts, MIT, GPL etc"
The part profile should show the license in the left-hard side bar, it should link to the official version of the license
![image](https://user-images.githubusercontent.com/29681384/102006590-58c9fd80-3d76-11eb-9d13-2667efa2f07e.png)

When the profile is in edit mode, this button will become a select
![image](https://user-images.githubusercontent.com/29681384/102006624-78f9bc80-3d76-11eb-90ab-4cfe

[2020-12-19 03:39] Irev-Dev opened #165 "Add Code of Conduct to the website"
it will be something adopted instead of trying to write my own from scratch.

[2020-12-19 07:25] Irev-Dev opened #167 "Add admin parts page"

[2020-12-19 07:33] #165 closed

[2020-12-19 07:34] #167 closed

[2020-12-28 22:16] jmwright opened #176 "Profile Pic Does Not Save"
I started playing around on CadHub.xyz and tried to set my profile picture by selecting the image and clicking the "Upload" button. A green flash message shows at top saying "User Updated" and there are no errors in the web console, but when I leave and come back I see that my profile picture wasn't saved.

Version: Current Pre-Alpha on cadhub.xyz
Browser: Firefox 84.0 (64-bit)
OS: Ubuntu 18.04 64

[2020-12-28 22:40] jmwright commented on #176
It must have just taken a bit to update or something. I closed the tab and reopened just now and my profile pic is there. Sorry for the noise.

[2020-12-28 22:40] #176 closed

[2020-12-28 22:53] Irev-Dev commented on #176
Thanks @jmwright.
I'll take a look and try and get this to update straight away.

[2020-12-28 23:09] Irev-Dev opened #177 "Add helper text to make it clearer that the description editor supports markdown"

[2020-12-28 23:10] Irev-Dev opened #178 "Make Plus button take user straight to IDE with template code"
The work flow is a little confusing atm

Once the user has made changes to the template code we should then let them save this as a "part".

[2020-12-28 23:15] Irev-Dev opened #179 "Images don't update straight away"
Sometimes they need a refresh, which is confusing to users who just uploaded an image.

[2020-12-28 23:17] Irev-Dev opened #180 "Add social feature "follow""
This will be done after some the editing experience is polished and probably after notifications are added as well.

[2020-12-28 23:18] Irev-Dev opened #181 "Make breadcrumb a hyper link to user"
It looks like it should link to the user, so let make it do that.

[2020-12-28 23:21] Irev-Dev opened #182 "Add CadQuery integration"
Not being actively worked on at the time of posting, but adding an issue so that there's a place for discussion if anyone is interested.

[2020-12-29 00:00] jmwright commented on #182
There's an [open PR for updating the CadQuery Docker CI](https://github.com/CadQuery/cadquery/pull/481) that might be helpful for this.

[2020-12-29 01:42] Irev-Dev commented on #182
Thanks @jmwright

[2020-12-29 08:42] #181 closed

[2020-12-29 08:42] #177 closed

[2020-12-29 08:42] #178 closed

[2020-12-29 08:47] #179 closed

[2020-12-29 21:08] Irev-Dev opened #189 "Part flow improvements"
1. Expose who has liked the projects

2. Add "cancel edit" button

3. When opening a draft add a title input and "save" vs "save and edit" where the later takes you to the part profile

4. new parts don't show up on profile without a refresh.

5. "start hacking" CTA should take user to `/draft`

[2020-12-30 01:53] Irev-Dev commented on #189
Resolved by #190

[2020-12-30 01:53] #189 closed

[2020-12-30 01:54] Irev-Dev opened #192 "Expose who has liked the parts"
ATM there's no way to see who has reacted to your project.

[2020-12-31 00:22] Irev-Dev opened #193 "Disable backspace going "back" a page when in the IDE"
Several times I lost work from this.

[2020-12-31 07:10] #193 closed

[2020-12-31 07:11] Irev-Dev opened #195 "Saving parts description need refresh before it updates"

[2020-12-31 07:14] Irev-Dev commented on #195
There are also focus issues with the markdown description likely caused by #177 / #184

[2020-12-31 07:29] #195 closed

[2021-01-05 22:13] yencolon commented on #192
Working on this.

[2021-01-15 21:14] Irev-Dev opened #198 "Add recent parts"
Requested by @hen3bosch on discord.

It would be nice to quickly access what you were recently working on when you log back in.

[2021-01-20 09:20] hen3bosch opened #200 "Bottom of the page is not visible"
The bottom of the webpage is not visible. Because of this we are not able to view the last lines from the console and there might also be lines of code not visible but I didn't check that.

See the screenshot below:

![CadHub_console_LineNotVisible](https://user-images.githubusercontent.com/2402124/105153468-c2bd8b80-5b08-11eb-809d-cb3804e60eed.png)

[2021-01-20 09:23] Irev-Dev commented on #200
Thanks @boschie

[2021-01-20 18:46] Irev-Dev commented on #200
Oh btw, you can move the console panel around, the lines are likely visible in another position.
Might be a good work-around until I get this fixed.

[2021-01-24 02:49] Irev-Dev commented on #192
Resolved 👏

[2021-01-24 04:08] #192 closed

[2021-01-24 10:30] #139 closed

[2021-02-07 05:48] Irev-Dev opened #205 "Update CascadeStudio with current master"

[2021-02-07 05:53] #205 closed

[2021-02-24 20:38] Irev-Dev commented on #111
The branch I was referring too has been deleted on the main repo, but I've kept it on [my fork for reference](https://github.com/Irev-Dev/CascadeStudio/tree/kurt/gallery-branch-backup).

A [diff is here too](https://github.com/Irev-Dev/CascadeStudio/compare/master...Irev-Dev:kurt/gallery-branch-backup)

[2021-02-27 04:07] Irev-Dev commented on #111
Resolved by #209

[2021-02-27 04:07] #111 closed

[2021-02-28 04:55] Irev-Dev commented on #164
Going to close this for now, I'm not sure about it in general.

[2021-02-28 04:55] #164 closed

[2021-02-28 04:57] Irev-Dev opened #213 "Add link to roadmap"
I think it's a good idea to link to the roadmap somewhere in the app. It's a good way of letting folks who are interested in Cadhub see where it's going. Link to the GH discussion for now.

Maybe later if we're confident in the features we want and we've added docs to the website we can add something a bit more official.

Add a link to the read me as well!

[2021-02-28 04:59] Irev-Dev opened #214 "Update to latest readwood"
We're on 0.20.0 and the latest is 0.26.0, we don't wont to get too far behind.
upgrade docs for each can be found here.
https://community.redwoodjs.com/c/announcements/5

[2021-02-28 09:46] #214 closed

[2021-02-28 19:40] franknoirot opened #218 "Create an internal CadHub IDE for future CAD package integrations"
Getting the container internalized is the first step in converting the IDE. After this step instead of hosting the CascadeStudio editor wholecloth, each of its editor's panes will be hosted within our IDE layout manager. This also allows us to use a more React-ecosystem solution for layout management than the `golden-layout` package they use.

[2021-02-28 19:41] franknoirot commented on #218
I've been looking around for layout manager replacements more in the React ecosystem and found these three that seem promising:
1. React-Grid-Layout: https://www.npmjs.com/package/react-grid-layout
2. React-Mosaic: https://www.npmjs.com/package/react-mosaic-component
3. FlexLayout-React: https://www.npmjs.com/package/flexlayout-react

I ordered them in apparent maturity and adoption. Grafana and A

[2021-02-28 20:35] Irev-Dev commented on #218
I've had a quick look at them and starting out with the most mature makes sense ☑️

From looking at the demo of `react-grid-layout`, the showcase demo
https://strml.github.io/react-grid-layout/examples/0-showcase.html
shows a static window, good to see there are features like that in case we want to be opinionated with some part of the layout and lock it in place (not saying we will, just good it'

[2021-02-28 20:40] Irev-Dev opened #219 "Make OpenSCAD api"
I've made enough of a start that I think this is do-able (https://twitter.com/IrevDev/status/1365021408523218944)

I think the scope of this issue should be:
- single file support only (that way we can send it easily as a string)
- options will only be the size of the image (this allows us to tailor it for the size of the user's 3d view)
- output images (this will be the main output since generati

[2021-02-28 22:48] franknoirot commented on #218
I agree with both your points. Deciding policy and logic around saving layout will take some time so I think that should be a much later initiative. Yeah that's a good point if this avenue doesn't work a split pane solution will cover for a long time I bet.

[2021-03-01 02:59] franknoirot commented on #218
I have a rough implementation using `react-grid-layout` that shows an instance of `@monaco-editor/react` in the left pane of the layout and 2 dummy frames to the right. @Irev-Dev should I push these to an `ide` branch on here so you can see my progress?

I'm a little stuck on how to get CascadeStudio isolated to just one pane of the layout. The `CascadeView.js` file appears to be decoupled but rea

[2021-03-01 03:37] franknoirot commented on #218
I've created an [`ide` branch](https://github.com/Irev-Dev/cadhub/tree/ide) where progress can be tracked.

[2021-03-01 07:33] #213 closed

[2021-03-01 08:59] Irev-Dev commented on #218
I've had a quick look at your branch. I'm guessing you didn't start making as changes to the CascadeStudio submodule? You've looked at `CascadeView.js` but not made any changes yet?

[2021-03-01 13:50] franknoirot commented on #218
Yeah exactly @Irev-Dev I was looking for a way to integrate without making changes to their code, just stuff outside it. But had their already been modification to these files? Because then I can go ahead and make it work with a few more.

[2021-03-01 20:00] Irev-Dev commented on #218
Yeah I could have made this clearer, (submodules don't make it super clear where the submodule comes from),
but basically my [fork of CascadeStudio is here](https://github.com/Irev-Dev/CascadeStudio), and there are two important branches in the fork, `kurt/webpack` and `cadhub-fork`.
- `kurt/webpack` is the branch that's in PR on cascadeStudio
- `cadhub-fork` is the branch that checkout out in Cad

[2021-03-02 09:48] Irev-Dev opened #222 "Figure out where and how to get docker container deployment working with the rest of the stack"

[2021-03-02 09:49] Irev-Dev commented on #219
I've got something working that I'm pretty happy with but I'll probably wait until I make progress on #222 before I put up a PR just incase deploying it requires some changes.

[2021-03-03 00:48] franknoirot commented on #218
Ah great thank you for the explanation! I was confused by the two branches, that's all understandable.

@Irev-Dev just an update, yesterday I started messing around with the possibility of editing `CascadeMain.js` and the other CascadeStudio state management pieces to make them work. I do think we'll need to do something of that sort, because it really does seem like they're all very interdependen

[2021-03-03 01:46] franknoirot commented on #218
I can move this over to a Discussion if that's better, just need to get my initial thoughts on this editor's API down:

## Layout
Managed by `IdeContainer` component, which employs `react-grid-layout`
- onLayoutChange: needs to be written to automatically scale/move other panes to fill remaining space in reaction to dragged/resized item's new size and position.
- All other state is managed within

[2021-03-03 08:23] Irev-Dev commented on #218
Nice, that's more or less how I was thinking about it. With input/callbacks like that we should be able to swap out the Cad-package pretty easily. Here's my visual interpretation
![image](https://user-images.githubusercontent.com/29681384/109773418-48c60980-7c53-11eb-84b5-9dea311d053f.png)
It's ignoring initialisation, but Basically the the Cad-kernal acts like a pure function taking code and spit

[2021-03-03 09:23] Irev-Dev commented on #218
## Editor
Managed by `IdeEditor` component (**TODO**), which employs `@monaco-editor/react`
- code: string or something more complex if/when we do multiple files (can either be only used when the editor initialises or the code itself can be controlled by the parent component, probably the former)
- environment: "openscad" or "CascadeStudio" etc
- onCodeChange: Callback that the editor fires (with

[2021-03-03 09:57] Irev-Dev commented on #218
I've had a bit of my own take, More because I was a little confused rather than thinking it's bad. Overall structure makes sense though. Having gone through it again I guess one thing that feels like it's missing is where the state for all this is. I mentioned previously that I haven't used any state-management tools yet since most of the app is pretty CRUD like (besides cascadeStudio itself which

[2021-03-03 14:35] franknoirot commented on #218
Excellent thank you for all this! It definitely needed help:
- I like your state diagram and agree with your arrangement of the cad-kernal as the center of the integration, and that the viewer is not unique to each CAD package. I don't have a special preference it was just a lack of imagination; that `error` and `healthy` status is definitely the way to go.
- ah thank you for clearing that up! I w

[2021-03-03 20:18] Irev-Dev commented on #218
Let use use reducer, I'm happy to not pull in extra dependencies for the time being. I think that will mean that we won't be using props and callbacks, but instead consuming state and dispatching, but same conceptually as input output of each component.

I'm not exactly sure whats in `objectData`. It probably needs to be a little flexible since the input the viewer is probably not going to be 100%

[2021-03-04 10:58] Irev-Dev commented on #218
https://user-images.githubusercontent.com/29681384/109952868-75515280-7d33-11eb-8c1b-e4ae5e37d623.mov

I hope this is helpful and not . . . annoying and it's not supposed replace to your work if you've made a start, more as something to centre discussion around, and sometimes a bit of scaffolding for data can go a long way in helping me wrap my head around things.
I wanted to get this up tonight a

[2021-03-04 18:06] franknoirot commented on #218
No this is perfect thank you for starting the work on this! You have a better sense of what the framework needs to look like anyway. I took a break last night and just worked on making some models within CadHub.

- Ah understood, so the render button would move up to the Toolbar in the built out?
- I totally think that works. I could also see a Container component owning the context and state and

[2021-03-04 19:36] Irev-Dev commented on #218
I just had a look at CadHub to see what you'd been working on 🤣  haha that's great 🍩  ⚙️ .

Point 5) `cadPackage[ideType].render()` is exactly what I want to do. Glad we're on the same page 😁
Point 3) I just realised I made a critical typo, I meant to say "can't access state", and the main reason I think that's a problem because of the above where I'd like to have
[code]
but can't. Tool like redux

[2021-03-04 19:39] Irev-Dev commented on #218
One other quick question, have you written any typescript?

I was thinking having state interacting in multiple files might benefit from having types.

[2021-03-04 21:18] Irev-Dev commented on #218
So I put this up
https://github.com/Irev-Dev/cadhub/pull/223

[2021-03-04 23:20] franknoirot commented on #218
I haven't written much Typescript but I understand it pretty well, just need to learn a bit more about writing those `interface` blocks but I think that's a great idea.

Ohh it can't access that state! Fascinating. I read through that post and I have a dumb question. Is there anything stopping you from passing `state` into the middleware call like [dispatchMiddleware(dispacth, state](https://githu

[2021-03-04 23:39] Irev-Dev commented on #218
Genius, because it's a custom hook, it would get the new version of state every time it's run (I'm pretty sure), nice one 👏 .

[2021-03-05 07:26] Irev-Dev opened #225 "Update our console.log pitch, link to under-construction pages"
Update the [console.log welcome message](https://github.com/Irev-Dev/cadhub/blob/main/web/src/Routes.js#L12) to link to work under construction at `/dev-ide`

Message should be:
`Want a sneak peak of work under construction? https://cadhub.xyz/dev-ide`
Or make a suggestion

### background
We have a console.log to tell folks to get involved if they happen to open tho console.
![image](https://user-

[2021-03-05 07:33] Irev-Dev opened #226 "Add Under construction message to `/dev-ide`"
There work under construction at `/dev-ide`, even though it's not complete we're going to make this route live anyway. See #225 for more context.

Would be good to have a message/banner at the top under the nav bar telling users that this work is under construction and to look at the [road map](#212). Message should be:

Woah, woah. You shouldn't be here! We're still working on this. Since you've

[2021-03-07 06:37] Irev-Dev opened #227 "Get openscad api working for local development"
Currently we're using the deployed url when running the project in dev (as well as prod).

This is not a problem in itself, but having to re-deploy the api to iterate on it is not great.

[2021-03-09 07:40] #219 closed

[2021-03-09 09:22] Irev-Dev opened #231 "Add combined 3d viewer and scad image viewer"

[2021-03-10 08:04] #227 closed

[2021-03-10 09:48] #225 closed

[2021-03-10 10:03] Irev-Dev commented on #226
resolved by #234

[2021-03-10 10:03] #226 closed

[2021-03-10 10:04] Irev-Dev commented on #231
Resolved by #232

[2021-03-10 10:04] #231 closed

[2021-03-10 10:11] Irev-Dev opened #235 "Determine how to convert between the rotation system of the Three.js camera and openscad camera"
https://user-images.githubusercontent.com/29681384/110612478-5562d880-81e4-11eb-85eb-2df257151c4c.mov

The recording above demos the UI we're going for, that basically a reference Three.js shape can be used to rotate in real time so the user can keep track of the orientation, once they stop draging we fetch an image of the openscad shape from that same perspective.

However obvious from the video

[2021-03-12 08:49] Irev-Dev opened #237 "Fix camera perspective and general polish."

[2021-03-12 08:56] #235 closed

[2021-03-12 19:33] Irev-Dev opened #239 "Adjust openscad image to match viewer size"
`web/src/helpers/cadPackages/openScadController.js` is hardcoded to get a 500x500 imaged from the openscad renderer. This should instead match the size of the viewer panel. I would assume that `react-mosaic` has some kind of event for resizes that we can fire to adjust it.

It should also detect if the device is retina display and double the resolution.
https://stackoverflow.com/questions/19689715

[2021-03-12 20:13] Irev-Dev opened #240 "Convert openscad renders to jpeg or webp"
Images are being sent as png which is not the best web format. jpg should be much smaller, and if we can detect if they're browser supports webp that would be even better.
https://stackoverflow.com/questions/5573096/detecting-webp-support#27232658

We'll need to figure a good way of doing this in node.

There's a possibility that compressing the image then sending will take longer than just sendin

[2021-03-13 05:44] Irev-Dev opened #241 "Fix move sync"
Hard to capture in a title. when you move the object with right-click drag, that axis move away from the shape.

[2021-03-13 06:14] #237 closed

[2021-03-13 06:18] Irev-Dev opened #242 "Move local development openSCAD url to env vars"
I think this make it easier to swap between using the aws endpoint and local endpoint but without having to worry about accidentally committing the local endpoint if you absent mindedly staging everything, and it still defaults to aws so it's easy setup for anyone doing a fresh clone.

add `OPENSCAD_BASE_URL="http://localhost:8080"` to you `.env` file.

You will have to restart `yarn rw dev` for t

[2021-03-13 06:26] #242 closed

[2021-03-13 07:05] Irev-Dev opened #245 "Clean up preview naming in the repo"
I've used the term "render" pretty loosely for the OpenSCAD preview.

I'm making this ticket to remind me to go through and clean it up, rename to "preview"

[2021-03-13 07:36] #241 closed

[2021-03-13 09:48] Irev-Dev opened #247 "Add Monarch tokenization to Editor code pane for CascadeStudio and OpenSCAD."

[2021-03-13 09:55] Irev-Dev commented on #247
I was in the mood to have a crack at this, and I didn't get very far, but I found a couple things that might be useful.

First of all I thought there might be a way to side step the Monarch tokenisation completely by using this textmate language file for openscad.
https://github.com/tbuser/openscad.tmbundle/blob/master/Syntaxes/OpenSCAD.tmLanguage

However I've since learnt that tmLanguage files r

[2021-03-13 20:44] Irev-Dev commented on #247
I had missed the line `monaco.languages.register({ id: 'openscad' })` 🤦  got something basic working but really only played with it. There's a lot to learn on how to match text for highlighting.

Some really cool things that we could do though, There's the hover provider example
https://microsoft.github.io/monaco-editor/playground.html#extending-language-services-hover-provider-example
We could of

[2021-03-13 20:50] Irev-Dev opened #248 "Add caching to preview endpoint"
It's likely we can save a little on server costs by setting up cache for the api gateway.
https://www.serverless.com/plugins/serverless-api-gateway-caching

It's mostly likely going to come into effect for folks loading up the default model, but could occasionally help otherwise.
I think in order to give this a fighting chance we should round the numbers for the camera that we send to the openscad

[2021-03-14 01:40] franknoirot commented on #239
Hey @irevdev#1888 in `openScadController.js`, is the `size` property supposed to control the size of the image returned from OpenSCAD? I've been able to get the image full-size and added in the `viewerSize` based on the on-screen size of the element to `IdeState`, passing it into the render call, but I'm still getting a 512 x 512px image back from OpenSCAD.

[2021-03-14 05:22] Irev-Dev commented on #239
I'm guessing 512 is the default for openscad, I've had a quick look, and the number look like floating points to me not integers.  so I'm guessing it's falling back to 512. Try rounding the numbers to integers.

I'll back to this in a couple hours. I should be able to tell you something more definite. ^ that's my suspicion.

[2021-03-14 06:22] franknoirot commented on #239
Gold, that did the trick. I'll push up a commit now and then get the retina thing sorted in a final one before PR.

[2021-03-14 06:51] franknoirot commented on #239
@Irev-Dev okay so now I'm on another issue, seems related to a comment you left on line 118 of `IdeViewer.js` which I've tried to demonstrate in my latest commit. When the panes are dragged the image now corrects by fetching a new image ✔, but after having dragged the pane if you try to orbit the camera the preview uses a stale `viewerSize` value and goes back to incorrect proportions. You mention

[2021-03-14 07:00] Irev-Dev commented on #239
@franknoirot  I had a bit of a play earlier and got something working.

One thing I did is to manage the viewer dimension state completely in the openscad controller so that openscad specific state isn't dirtying the ide state, it make other things more complicated, in that at the start it's expecting both the ideContainer and the viewer to call render, one gives it it's dimensions and the other i

[2021-03-14 07:13] Irev-Dev commented on #239
I update the above comment a couple times after re reading your comment.

[2021-03-15 05:07] franknoirot commented on #239
Ah nice, I thought the `viewerSize` would be useful across CAD packages initially but I like what you did way better, that's working great. I think you got it if you want to PR, sorry I couldn't be of more use on this one. Love the new sprinkles lol

[2021-03-15 06:43] Irev-Dev commented on #239
okay, I've put up #251, sorry didn't mean to steal your thunder.

[2021-03-16 09:24] Irev-Dev opened #253 "Add code snippet sharing by encoding code into url"
I think it makes a lot of sense to make sharing very easy, and it's an easy add.

[2021-03-16 09:28] #253 closed

[2021-03-17 03:59] franknoirot commented on #239
No no worries!

[2021-03-17 04:27] franknoirot commented on #239
@Irev-Dev okay I'm messaging in here before a PR because it seems to simple to be correct. I know you linked to that StackOverflow discussion but what I've put in [my commit](https://github.com/Irev-Dev/cadhub/tree/franknoirot/239) is inspired by [this MDN article](https://developer.mozilla.org/en-US/docs/Web/API/Window/devicePixelRatio) about using the `Window.devicePixelRatio` property to correc

[2021-03-17 04:32] Irev-Dev commented on #239
@franknoirot Sounds like you understand the problem better than me 👏

[2021-03-19 09:13] #239 closed

[2021-03-19 10:10] Irev-Dev opened #259 "Determine docs tech stack to run on subdomain."
Good comment https://discord.com/channels/775984095250612234/775984095250612240/814259319872552982

[2021-03-19 23:05] Irev-Dev opened #262 "Lazy load big modules like Monaco and upgrade redwood version"
https://community.redwoodjs.com/t/redwood-v0-27/1920

[2021-03-19 23:35] #262 closed

[2021-03-21 03:47] Irev-Dev opened #265 "Few ide improvements"
I want to share the work so far with the OpenSCAD community and ask them to start using it for feedback, projects can't be save yet, but you can encode your code into the URL meaning it can start being used for sharing snippets.

Before I let them know there are a few things I want to add,
- the compile message isn't included with successful renders
- It's easy to loose your work so I'd like to ad

[2021-03-21 04:34] #265 closed

[2021-03-26 18:10] Irev-Dev opened #270 "Upgrade to 0.28.0"

[2021-03-26 18:12] #270 closed

[2021-04-04 07:57] Irev-Dev commented on #259
I think https://docusaurus.io/ makes the most sense for use. I like it because:
- it seems it will have a lot of smart default for docs and therefore won't need wrangling
- uses markdown, and mdx on top of that so should be good for sprinkling in extra stuff into the docks as we need it.

[2021-04-15 08:12] Irev-Dev opened #274 "CadQuery MVP integration"
See #273

[2021-04-17 19:28] #222 closed

[2021-04-23 10:17] Irev-Dev opened #278 "Upgrade redwood to 0.30.0"

[2021-04-23 10:19] #278 closed

[2021-04-27 10:51] Irev-Dev commented on #274
Resolved by #281

[2021-04-28 07:39] #274 closed

[2021-04-28 07:40] Irev-Dev opened #283 "Upgrade to redwood 0.31.0"
https://community.redwoodjs.com/t/redwood-v0-31-0/2066

[2021-04-28 08:15] Irev-Dev commented on #283
Might have to wait for 0.30.1
https://community.redwoodjs.com/t/redwood-v0-31-0/2066/7?u=irev-dev

[2021-04-28 08:35] #283 closed

[2021-05-01 08:24] Irev-Dev commented on #259
Site is live at https://learn.cadhub.xyz/

[2021-05-01 08:24] #259 closed

[2021-05-01 11:11] Irev-Dev opened #303 "make cadhub app that posts images of diff on pull requests"
Resources I've found so far.
Offical Github tutorial, although it uses ruby
https://docs.github.com/en/developers/apps/setting-up-your-development-environment-to-create-a-github-app

here's a medium post using node
https://medium.com/@knidarkness/creating-a-github-app-with-node-js-3bda731d45b9
One thing interesting about that is there's on official github npm package for thing stuff `@octokit/app`

[2021-05-03 19:32] Irev-Dev commented on #303
The content attachement dos will be useful for displaying something that looks more app like.
https://docs.github.com/en/developers/apps/using-content-attachments

[2021-05-06 10:07] Irev-Dev commented on #303
So I've spent a couple days playing with Github apps that I feel pretty grounded in what the task involves, but I don't think now is the time to build it as more tooling on cadhub side itself needs to be done. The following should help later when I come back to this.
This guide: https://kurthutten.com/blog/getting-start-with-a-serverless-github-app/
This repo: https://github.com/Irev-Dev/serverles

[2021-05-06 21:45] Irev-Dev opened #304 "Docs polish"
The docs are live but not quiet ready. I want to add some polish before I tweet/email about it

[2021-05-07 10:45] #304 closed

[2021-05-07 23:07] Irev-Dev opened #311 "improve script url encoding"
Old in coding was just changing it to b64, which is very crude way of doing it and made for urls that are longer than they need to be, I'm going to look into adding compression to it aswell.

[2021-05-07 23:15] #311 closed

[2021-05-08 12:31] Irev-Dev opened #313 "Add live demo links to openscad tutorial"

[2021-05-08 12:32] #313 closed

[2021-05-11 09:06] Irev-Dev commented on #182
Duplicated by #274

[2021-05-11 09:11] Irev-Dev opened #316 "Add s3 to code render lambdas"
Trying to return large files from the lambdas is not a good idea for a couple reasons, but chief among them is the API gatway has a 10mb limit. Instead the aim is to instead put the generated 3d file into s3 and return a link to it. We should be able to expire these files quickly.

Besides overcoming the immediate 10mb problem, pushing things to s3 is more compatible for future features where we w

[2021-05-11 09:13] Irev-Dev commented on #316
I'm not loving the AWS docs, but this seems like a reasonable example of sending a read file which is pretty much what we want to do.
https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/s3-example-creating-buckets.html
[code]
Not completely sure how credentials fit in with my current setup with serverless.

[2021-05-11 13:36] bhargavkumar7031 commented on #104
Hi @Irev-Dev I would like to work on this

[2021-05-16 17:14] julialongtin opened #319 "ImplicitCAD support"
Implicitcad is another scad engine, with different properties, and an engine written in haskell. see: github.com/colah/ImplicitCAD

[2021-05-16 19:45] Irev-Dev opened #320 "Add OpenSCAD Customizer parser"
We want to offer a customizer for the parts on OpenSCAD. So the first part of that is simply being able to parse openscad code to pull out the customizable params.

Customisable params look like this in openscad
[code]
Which becomes
![image](https://user-images.githubusercontent.com/29681384/118410317-1d8b7c00-b6d2-11eb-945e-31f8789adec2.png)

There's lots that will need to go into the customizer

[2021-05-16 19:47] Irev-Dev commented on #320
Side note is that Kintel on the core team of OpenSCAD had share this repo of a customizer built with Angular that might be useful.
https://bitbucket.org/shapefactory/scad-web/src/master/

Having looked at it myself I found it pretty difficult to read so not sure how useful it might be, I at least found lines like this one that are looking for the start of comments `//` so probably related to parsi

[2021-05-16 20:05] t-paul commented on #320
OpenSCAD already has code to save parameter sets as JSON file which can be applied using `-P / -p` command line arguments. Code for an export format to write out the data for the script values never made it to `master` but should be easy to add.
Benefit would be that it could seamlessly integrate with a potential native customizer syntax based on some sort of [annotations](https://github.com/opens

[2021-05-16 20:51] Irev-Dev commented on #320
I think I follow what you're saying @t-paul but to be clear.

What I'm trying to get is some kind of data structure that we can easily convert to UI ( so metadata about if it's a slider, text input etc, it's default value and so on) and I'm think of doing that on the frontend with a js parser. so are you saying that maybe we could output something like this directly from OpenSCAD instead of us try

[2021-05-16 21:07] t-paul commented on #320
Yes, the current datasets only have the parameters and values that are selectable by name from the customizer UI. For example: https://github.com/openscad/openscad/blob/master/examples/Parametric/sign.json

A similar structure with meta data and default values could be exported to stdout by running `openscad -o - --export-format param file.scad`. Pretty much as shown in the initial post.

I would

[2021-05-16 21:08] Irev-Dev commented on #319
Hey @julialongtin,

Definitely familiar with ImplicitCAD and definitely interested. Because you folks already have an online editor I've had a bit of a poke around previously. It seems very performant, must be the Haskell :)

Right now I'm trying to balance adding integrations and building out other lacking features on CadHub.

If you (or someone) is willing to help out with the integration then I

[2021-05-17 07:35] Irev-Dev commented on #320
That sounds fantastic @t-paul,

Are you confident you'll be able to get into OpenSCAD? cause I'll change the title of this to reflect integrating with the this feature instead of parsing ourselves.

Yup I agree with that too :)

[2021-05-17 07:46] Irev-Dev opened #321 "Upgrade OpenSCAD version to 2021.01"
Would be nice to figure out the upgrade path such that it's easy to use nightly builds too if we want.

Currently we're using the 2019 version, mostly because that's what's installed with `apt-get install -y -qq openscad` on ubuntu 20.04 ([link to dockerfile](https://github.com/Irev-Dev/cadhub/blob/main/app/api/src/docker/openscad/Dockerfile)).

I tried getting a newer version with snap but ran in

[2021-05-17 09:48] Irev-Dev commented on #319
I've checked the readme, not `.gltf`, but `obj` or `stl` should work fine :)

[2021-05-17 16:37] julialongtin commented on #319
hey, i'd like to have a more extended conversation. would you mind either popping into irc (#implicitcad on freenode), or setting up a call?

[2021-05-17 19:25] Irev-Dev commented on #319
That sounds great.

I've popped into the irc, I'll endeavour to hangout there, but I think a call would be good to touch base.
Figuring out a time to call might be easier on IRC, but I'm in AEST (UTC +10) but am up early so can normally jump on a call anytime after 5am my time.

In terms of what to call on,
I'm normally [on discord](https://discord.gg/SD7zFRNjGH)
But I've also had good experiences

[2021-05-17 21:19] #316 closed

[2021-05-19 22:15] Irev-Dev opened #324 "Update expiry whenever a cached object is accessed in s3."
Currently when code is run in our ide, the generated output is thrown into as s3 bucket using a hash of the code used to generate it as its key, we than return a url to the browser to download the asset.

Because we'r storing the result, we also use it as a cache by looking to see if the hash already exists in the bucket before we generate a new file.

However the bucket has a policy of expiring a

[2021-05-21 07:27] Irev-Dev commented on #248
Resolved by #316

[2021-05-21 07:27] #248 closed

[2021-05-27 20:43] Irev-Dev opened #327 "Add the ability to link to text resource for IDE"
very basic feature, puts the url of the resource in the url for the ide to fetch when it loads. I haven't added the ability to create these links as it probably needs some consideration with how it fits into the IDE.

[2021-05-27 20:59] #327 closed

[2021-05-29 10:55] Irev-Dev opened #330 "Add stl dowloads to OpenSCAD and CadQuery ides"

[2021-05-29 22:47] #330 closed

[2021-05-31 06:56] Irev-Dev opened #334 "Improve browser caching with cache control header"
Not only does the header need to be added, but the signed URL needs to have it's expiray rounded so that the return url is the same for a given window, say 10minutes

I followed this https://advancedweb.hu/cacheable-s3-signed-urls/
basically what this means is that because we're caching the assets themselves, if as user asks for a part that already exists we'll return a url for the existing part i

[2021-05-31 07:00] #334 closed

[2021-06-04 08:11] Irev-Dev opened #336 "Update read me to reflect openscad and cadquery changes"

[2021-06-05 01:10] Irev-Dev opened #338 "Add experimental support for OpenSCAD library"
I've been able to get a proof of concept of downloading a openscad library when the docker image builds
https://twitter.com/IrevDev/status/1400785325509660678
Since its experimental atm I'll leave it with just the one for now.

I've also got a local dev working again for the cad lambdas.

[2021-06-05 02:22] #338 closed

[2021-06-05 02:30] Irev-Dev opened #341 "Update redwood to 0.33"

[2021-06-05 02:53] #341 closed

[2021-06-05 07:02] Irev-Dev opened #343 "Add exception logging (i.e. Sentry)"
Sentry is a well know in the FE error handling and they have generous free plan, which is perfect for us.

Some one's ever written about getting it setup with redwood.
https://community.redwoodjs.com/t/how-to-setting-up-sentry-with-redwoodjs/730

sounds like a big part of it is just using a netlify plugin.

might have to do a more manual install to get things working properly in the docker-lambdas

[2021-06-05 20:10] Irev-Dev opened #346 "Replace redwood flash with toaster"
https://community.redwoodjs.com/t/redwood-flash-is-being-replaced-with-react-hot-toast-how-to-update-your-project-v0-27-0/1921

[2021-06-05 20:15] #346 closed

[2021-06-05 20:18] Irev-Dev commented on #343
I've deployed the setup but don't see anything in the sentry dashboard, I'm not sure I should aim to intentionally trigger errors to test the setup 🤷

[2021-06-06 10:06] #336 closed

[2021-06-06 10:08] Irev-Dev opened #351 "Move Round-anything docs into Cadhub docs"
It makes sense that Round-Anything is maintain by the Cadhub team so adding it to the dos is a good idea.

[2021-06-06 20:09] Irev-Dev commented on #320
I've edited the original description to be inline with the discussion here.

[2021-06-07 10:21] #351 closed

[2021-06-07 10:21] Irev-Dev opened #356 "Update docusaurus to beta-0 version"

[2021-06-07 10:28] Irev-Dev commented on #356
Resolved by #357

[2021-06-07 10:28] #356 closed

[2021-06-07 20:17] Irev-Dev opened #360 "Initial IDE redesign implementation"
Ignore this description, this ended up being most of the new IDE redesign no far.

[See designs](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/CadHub?node-id=832%3A1121)

-------

main thing that needs to be done is remove the default toolbar and make our own that

that uses [connectDragSource](https://github.com/nomcopter/react-mosaic#advanced-api) to add drag functionality back in.

![image]

[2021-06-15 08:05] #360 closed

[2021-06-15 10:30] Irev-Dev opened #365 "Theme OpenSCAD preview image with CadHub colors."
@franknoirot dug up this gem
http://forum.openscad.org/Setting-transparent-background-td18272.html

and I've experimented and got something working locally the following is the DeepOcean theme with a bluer background (`#333355` instead of `#333333`)
![image](https://user-images.githubusercontent.com/29681384/122037356-d6e78980-ce17-11eb-8f46-78ab191feb9b.png)

The background is the primary concern

[2021-06-15 20:00] Irev-Dev commented on #365
Theming for the editor shouldn't be too hard for two reasons, 1) you can base it of another theme and modify it, 2) you can use their dev tools by hitting `F1` then pulling up `Developer: Inspect Tokens` to figure out what tokens you want to change.

Here's some stuff I was playing with at https://microsoft.github.io/monaco-editor/playground.html#customizing-the-appearence-exposed-colors
[code]
![

[2021-06-16 06:17] franknoirot commented on #365
Love it! I don't know why I can't get your code to work in there; whatever I did appears to not recognize the Python comment syntax for some reason.

[2021-06-16 06:23] franknoirot commented on #365
False alarm I got myself sorted out, I had left the `language: "text/plain"` in there by accident.

[2021-06-16 06:49] franknoirot commented on #365
Alright @Irev-Dev I just tweaked the colors a bit from those top nav colors because they were vibrating a bit to my eyes when directly on that dark background, and added a `foreground` attribute to get the default text color matching. Does that look alright to you?
[code]
![image](https://user-images.githubusercontent.com/23481541/122171156-665b5f80-ce4d-11eb-841a-dd1e8309e20d.png)

[2021-06-16 07:01] Irev-Dev commented on #365
@franknoirot  Yup looks good. I'll get a PR up soon

[2021-06-17 19:15] #365 closed

[2021-06-24 19:33] Irev-Dev opened #375 "Fix missing images"
There's a bug causing images to get deleted

![image](https://user-images.githubusercontent.com/29681384/123321869-dfa63100-d576-11eb-9eae-9817d2e0391a.png)

[2021-06-24 19:36] #375 closed

[2021-06-25 09:45] Irev-Dev opened #378 "Fix 502 lambda cors issue. deploy new cq-cli and images tweaks"

[2021-06-25 09:46] #378 closed

[2021-06-25 10:43] Irev-Dev opened #381 "Update cq-cli to be able to set stl quality"
When it's ready new param will look like this
`./cq-cli --codec stl --infile /input/path/script.py --outfile /output/path/newfile.stl --outputopts "deflection:0.3;angularDeflection:0.3;"`

[cq-cli issue](https://github.com/CadQuery/cq-cli/issues/11)

[2021-06-25 10:53] jmwright commented on #381
Examples of file sizes at different deflection/angularDeflection settings when generating the braille signs on CadHub.

* 0.1 - 40 MB
* 0.2 - 11 MB
* 0.3 - 5.3 MB

Using the highest quality for viewing on CadHub slows things down needlessly. The higher quality settings can be used when downloading the STL. I'm not sure how that will effect the file caching in S3 though since there will be two diff

[2021-06-26 15:02] adam-urbanczyk opened #383 "CQ models rendering not usable"
Thanks for all the work on integrating CQ. Sadly, current rendering of models is not really usable - I cannot really see any features/edges:

![afbeelding](https://user-images.githubusercontent.com/13981538/123517120-a87f6f00-d69f-11eb-85f3-c2f7a2805756.png)

What would you need from CQ to fix it? Currently VRML and VTKJS (take a look here: https://kitware.github.io/vtk-js/examples/SceneExplorer/i

[2021-06-26 19:09] Irev-Dev commented on #383
Thanks @adam-urbanczyk

This is just bad lighting in the three.js scene. No changes in format is needed.

[2021-06-26 20:34] Irev-Dev commented on #383
I've improve it somewhat with #384
![image](https://user-images.githubusercontent.com/29681384/123525057-98a07300-d711-11eb-8bdb-dcd7138fd03a.png)

But I'll leave this issue open as I'd like to improve it further.

[2021-06-27 05:17] marcus7070 commented on #383
You might be interested in this: https://github.com/CadQuery/sphinxcadquery/blob/0b7050c0204b8b2c6f7e6912eaee97ca02b9e776/sphinxcadquery/sphinxcadquerystatic/main.js#L130-L165

I think you can see that lighting in action here: https://paramak.readthedocs.io/en/main/example_parametric_reactors.html

[2021-06-28 20:36] Irev-Dev opened #388 "Add email integration"
This will pave the way for doing notification emails as well, but for the immediate future it will be used to notify all users of CascadeStudio deprecation

https://github.com/Irev-Dev/cadhub/discussions/261

[2021-06-29 07:07] #388 closed

[2021-06-30 07:22] Irev-Dev opened #391 "Gzip files before upload to s3"
The stls from CadQuery and OpenSCAD are text based stls and so we're throwing away bandwidth and taking a performance hit by not gziping.

Gzip for s3 basically needs to be gziped before upload and than have
[code]
set.

https://stackoverflow.com/questions/8080824/how-to-serve-gzipped-assets-from-amazon-s3

The obvious part that needs to change is `putObject` in `app/api/src/docker/common/utils.js

[2021-06-30 07:23] #47 closed

[2021-06-30 10:38] Irev-Dev commented on #321
Bit of extra help
![image](https://user-images.githubusercontent.com/29681384/123946938-1949c280-d9e3-11eb-86b5-b2a9daa55c4e.png)
Link from that SS are
https://launchpad.net/~openscad/+archive/ubuntu/releases
and
https://build.opensuse.org/package/show/home:t-paul/OpenSCAD

[2021-06-30 13:04] t-paul commented on #391
Note that the latest OpenSCAD release supports binary STL too, it just keeps the default for command line calls to be ASCII as some external tooling depends on that. GUI export now defaults to binary.

[code]

[2021-06-30 21:02] #321 closed

[2021-07-04 10:49] #381 closed

[2021-07-04 10:49] #391 closed

[2021-07-04 20:33] Irev-Dev opened #400 "Deprecate CascadeStudio and make new integrations saveable"
The [deadline's been set](https://github.com/Irev-Dev/cadhub/discussions/261) and it's time to make a proper start on this work.

It's hard to tell the exact scope of the work, but I think at the very least it shouldn't be only deprecating CascadeStudio but instead also getting at least basic save for the new integrations working, because if I have change the db schema it makes sense to get it wor

[2021-07-11 02:08] Irev-Dev commented on #97
Not directly related to 3d but as far as preview images here are three good blog posts (as mentioned in #404)
 - [Screen capture with netlify function and puppeteer](https://github.com/jonarnes/some-image-imageengine/blob/master/functions/capture.js)
  - [netlify and puppeteer again, but with time with on-demand builders](https://www.leereamsnyder.com/blog/dynamic-social-media-images-with-puppetee

[2021-07-17 07:52] #400 closed

[2021-07-17 14:44] franknoirot opened #409 "Renaming projects from default name fails"
Reported by @jmwright within [the Discord](https://discord.com/channels/775984095250612234/775984095250612240/865948285444554753)

Related to latest release #408.

## Issue

Console Error:
[code]

## Expected Behavior
Project name would successfully update as well as URL.

[2021-07-17 21:18] Irev-Dev opened #410 "Camera suddenly jumps forward when taking sceenshot"
i.e. when clicking
![image](https://user-images.githubusercontent.com/29681384/126049614-d171d534-876d-4a42-8019-c1740be26fd5.png)

[2021-07-17 22:22] Irev-Dev opened #411 "JSCAD integration"
I've been talking to @hrgdavor about the a possible JSCAD integration. I think what I'd like to do is setup a branch for you with a bunch of things setup in the UI ready for you so you can focus on the "kernel" so to speak.
I'm going to try and describe our architecture below so hopefully I can put into the readme as well. (you might notice that the following ignores the customizer, that's just be

[2021-07-18 09:49] hrgdavor commented on #411
jscad definitely works on server-side, so when the time comes for that part of integration it should not be a problem.

[2021-07-18 10:37] Irev-Dev commented on #409
Resolved by #415

[2021-07-18 10:37] #409 closed

[2021-07-18 10:37] Irev-Dev commented on #410
Resolved by #415

[2021-07-18 10:37] #410 closed

[2021-07-25 10:16] Irev-Dev opened #420 "Fix subscriber name When signing up to newsletter"

[2021-07-25 10:18] #420 closed

[2021-07-25 10:48] Irev-Dev opened #422 "Add jscad to db schema when we're ready to enable saving of JSCAD projects"
For now we'll work on a proof of concept at `/dev-ide/jscad` (i.e. http://localhost:8910/dev-ide/jscad)

Related to #411

[2021-07-25 11:07] Irev-Dev commented on #411
I finally got around to adding a branch for you @hrgdavor, it's at `kurt/411-demo-branch`
and the diff is here https://github.com/Irev-Dev/cadhub/compare/kurt/411-demo-branch?expand=1

Basically all I've done is made it so you can navigate to http://localhost:8910/dev-ide/jscad
and but since I've only implemented a dumby jscad controller it will only ever look like this.
![image](https://user-imag

[2021-08-03 19:56] Irev-Dev opened #434 "Renaming projects broken in safari"
Trying to rename projects in safari simply doesn't work.

Found by @revolter.

I think I'm going to have to learn how to debug safari for this. There's nothing in the logs or network tab, the rename just silently fails :(

[2021-08-03 19:56] Irev-Dev opened #435 "Safari styling errors"
I've largely neglected safari and the result is there are a bunch of styling problems
![image](https://user-images.githubusercontent.com/29681384/128078055-8f74732f-2251-47d2-82bd-f68ec982702f.png)

Z issues for the login modal

![image](https://user-images.githubusercontent.com/29681384/128076696-dafbace0-3845-4435-ab2d-b58a0eece758.png)
lots of flex gaps ignored by the browser and the page leave

[2021-08-03 20:06] Irev-Dev commented on #435
yup so safari just ignores flex gaps until this year, but we probably need to refactor using padding to support older safari.
https://css-tricks.com/safari-14-1-adds-support-for-flexbox-gaps/

[2021-08-07 00:30] Irev-Dev commented on #435
Because this is all style related it would be a good first issue for someone, especially if you've used tailwind before.

[2021-08-09 22:16] Irev-Dev commented on #435
Wait this is a terrible issue for you right @franknoirot? don't you run Windows?

[2021-08-09 22:18] franknoirot commented on #435
@Irev-Dev I've got a MacBook for work so I think I can do it alright!

[2021-08-09 22:25] Irev-Dev commented on #435
Perfect.

[2021-08-10 03:57] franknoirot commented on #435
@Irev-Dev confirmed I've been able to get my dev environment in order and use Redwood's forwarding dev command to open the site running locally from my work computer in Safari. On the hunt for some solutions, think I understand the `z-index` issue and will investigate the rest tomorrow.

[2021-08-10 05:00] franknoirot commented on #435
Okay so the problem with the gaps is that the `gap` CSS property is only supported in the absolute latest Safari version, which up until now only supported `gap` or the former `grid-gap` for elements with `display: grid` and no gap-like property for elements with `display: flex'.

Typically you could use an `@supports (gap: 1rem)` statement to detect if a browser supports a CSS property, but you c

[2021-08-10 05:26] Irev-Dev commented on #435
Nice investigative work @franknoirot  🕵️ ,
I was thinking that we would solve this simply by replacing the gap class currently on the parent with padding/margin on the children, bit of a pain but also very straight forward?
Or do you think that a more sophisticated solution detecting the problem and adjusting is called for?

Actually would using grid instead of flex work in most of our cases? I do

[2021-08-10 09:49] Irev-Dev commented on #435
https://twitter.com/fra_michelini/status/1425023649069867009

[2021-08-10 10:52] Irev-Dev commented on #383
Once #448 is merged, I was planning on closing this issue, while I hope it continues to improve I think it's much better than it was. Surfaces and edges can easily be identified now.

https://user-images.githubusercontent.com/29681384/128854453-a6960d50-cf06-4cd6-ad83-803acb96855e.mov

Are you happy with the state of it now @adam-urbanczyk @marcus7070 ?

[2021-08-10 21:05] #383 closed

[2021-08-10 21:06] adam-urbanczyk commented on #383
LGTM, I'd change the line color though (to eg black)

[2021-08-11 01:22] marcus7070 commented on #383
It's a great improvement @Irev-Dev. I think your line colours are part of the CadHub theme? In which case they're perfectly legible, no worries.

A minor point: I think most CAD viewers spin the object, not the camera. Sometimes you might get a shadow or reflection that obscures a feature, if you're only able to move the camera then you can't un-obscure. On the other hand, I do think spinning the

[2021-08-11 03:33] franknoirot commented on #435
Ugh @Irev-Dev I ran into a problem tonight. At work we keep our laptops up-to-date with the latest iOS (I'm running 14.5) and you can't downgrade, so I'm not able to recreate the `gap` issue. I'm trying to emulate older versions of Safari using XCode (I downloaded iOS 13.5 Simulator), but you can't use that to simulate desktop Safari, only iPad and other mobile devices.

I have been able to confir

[2021-08-11 03:36] franknoirot commented on #435
One good thing I will say is everything looks great on latest Safari haha, even that height issue with the IDE page is gone for me.
<img width="1440" alt="CadHub IDE in Safari 14.1.1" src="https://user-images.githubusercontent.com/23481541/128965709-aa07bb53-80f2-4962-9862-e7d5499d0e6e.png">

[2021-08-11 05:16] revolter commented on #435
@franknoirot, but can you reproduce this:

<img width="1259" alt="image" src="https://user-images.githubusercontent.com/5748627/128973360-347a9439-762c-4fc5-92ec-7f812dc0d2d2.png">

?

It happens for me in Safari 14.1.2 (16611.3.10.1.3).

[2021-08-11 05:25] franknoirot commented on #435
@revolter yup I can replace that! I've committed a fix to it in https://github.com/Irev-Dev/cadhub/commit/68346e075ac2b27ba114b671c760dfc7b14112ad

[2021-08-11 05:28] revolter commented on #435
Oooh, I see now. I don't experience the gap issues either.

[2021-08-11 08:32] Irev-Dev commented on #383
Thanks @adam-urbanczyk, @marcus7070,

Why do you think the lines should be black Adam? The lines are roughly a CadHub theme, but at somepoint I'll probably want to re think the whole design of the 3D viewer so it's likely to change.

Thats a good point Marcus, I might do a bit of both, I tried attaching a light to the camera, and it adds a fair amount of consistency to the lighting.

[2021-08-11 08:51] Irev-Dev commented on #435
Only done one so far but its looking promising
![image](https://user-images.githubusercontent.com/29681384/128999155-328a2ffe-5435-4953-81b0-57b7c9d2715a.png)
![image](https://user-images.githubusercontent.com/29681384/128999575-c2015b64-d8f5-4d10-874d-003641d6b0b3.png)

[2021-08-11 12:02] franknoirot commented on #435
Nice! Appreciate it.

[2021-08-11 16:39] adam-urbanczyk commented on #383
I can barely see them with the current color scheme (black was just a contrasting color - maybe not so good given the background).

[2021-08-11 19:12] #434 closed

[2021-08-11 19:14] #435 closed

[2021-08-11 19:18] franknoirot commented on #218
Hey @Irev-Dev just checking through the Projects tab, would you consider this complete?

[2021-08-11 19:39] Irev-Dev commented on #218
Yeah I think it's complete.

that project is probably pretty neglected hey!?

[2021-08-11 19:39] #218 closed

[2021-08-14 07:05] Irev-Dev opened #454 "updating Bio requires refresh"
Found by @jmwright
https://discord.com/channels/775984095250612234/775984095250612240/875724764331782174

[2021-08-16 10:32] #454 closed

[2021-08-16 19:13] Irev-Dev opened #459 "EdgeSplit not flushing out old geometry"
Most effecting CQ, changing the script and updating leaves a ghost of the old geometry in the viewer

[2021-08-16 19:14] #459 closed

[2021-08-20 20:27] Irev-Dev opened #462 "Social card lhs oversized bug"
![image](https://user-images.githubusercontent.com/29681384/130289880-bba0cfb0-2522-4a23-86aa-6122b21357e9.png)
should force white space wrap, image should be bigger

[2021-08-22 00:44] Irev-Dev opened #469 "Highlight OpenSCAD echo"
as suggested in #464.

[2021-08-22 00:50] Irev-Dev commented on #469
Resolved by #470

[2021-08-22 03:40] #469 closed

[2021-08-22 07:26] Irev-Dev commented on #320
Related: https://github.com/openscad/openscad/pull/3864

[2021-08-23 10:36] hrgdavor opened #472 "Customizer last input in the customizer gets reset to zero"
Customizer last input in the customizer gets reset to zero, it happens for default jscad script but only when refreshing page and it starts from scratch ...

subsequent execution of script is not affected as likely the preserved values in the form are used.

[2021-08-25 10:01] Irev-Dev opened #476 "Incorrect timeout error"
@JustinSDK 's maze is erroring with grids larger than 6
https://cadhub.xyz/u/caterpillar/maze/ide
The error says it's a timeout, but it happens far too quickly.

Relavant tweet: https://twitter.com/IrevDev/status/1430433806494748678

[2021-08-25 14:16] t-paul commented on #476
I'm seeing a number of warnings flagged when running in the local application. It seems the timeout happens when reaching a certain number of lines.

[2021-08-28 06:22] Irev-Dev commented on #472
Resolved by #477

[2021-08-28 06:22] #472 closed

[2021-08-31 08:35] Irev-Dev opened #482 "Upgrade Redwood to 0.36"

[2021-08-31 10:39] Irev-Dev commented on #482
Re-opening because this has broken custom fonts. Its not a bad enough issue to roll back.

Not sure why, I can see that app.[hash].css that the fonts are there
![image](https://user-images.githubusercontent.com/29681384/131488275-e8c07171-988d-4ce6-a24e-0a6ca26bd9b2.png)
but something's a miss

[2021-09-04 01:45] Irev-Dev commented on #482
Fonts fixed in https://github.com/Irev-Dev/cadhub/commit/1c13a38ccbca2b30954c75246850e7b5ca728e14

[2021-09-04 01:45] #482 closed

[2021-09-04 01:50] Irev-Dev commented on #422
We more so less haver the green light for this: https://github.com/jscad/OpenJSCAD.org/discussions/893#discussioncomment-1269907

Other considerations in this checklist: https://github.com/Irev-Dev/cadhub/discussions/444

[2021-09-04 01:54] Irev-Dev opened #484 "Remove s3 from docker renders"
Sending files to s3 before the browser takes too long, and the 10mb apigateway limit is not as much as a problem with gzip working now.

I would like to make a few adjustments to make the deployment story a little better, for example I would like to use built javascript files so that we can continue to use typescript files

[2021-09-04 05:59] hrgdavor commented on #422
There are no things on that checklist that block saving. All are independent of the save functionality.

[2021-09-04 13:53] #484 closed

[2021-09-04 23:52] Irev-Dev commented on #324
Not really relevant since #484

[2021-09-04 23:52] #324 closed

[2021-09-04 23:53] Irev-Dev commented on #200
Not relevant now that cascadeStudio has been deprecated.

[2021-09-04 23:53] #200 closed

[2021-09-05 08:03] JustinSDK opened #488 "font support"
I publish a Emoticon moai.
https://cadhub.xyz/u/caterpillar/emoticon-moai

It requires the `font` parameter of `text` to vary emoticons. Currently, Cadhub doesn't support the parameter. The `font` support might be scheduled on the further version. :)

[2021-09-05 11:19] Irev-Dev commented on #488
Hey, sounds good.
Here's another relevant discussion: https://github.com/Irev-Dev/cadhub/discussions/464#discussioncomment-1216768

As @t-paul mention, it wouldn't be hard to give a list of available fonts (in the ubuntu container it's running on), the problem is more of how does the script author indicate that they want a font select UI? Is this supported elsewhere?

[2021-09-05 20:26] t-paul commented on #488
I've not seen dedicated customizer support for fonts, they just declared this in a pinned post in the thingiverse group:

There might be a reasonable extension to the customizer markup for declaring an input field shall be a font selector.

[2021-09-05 21:52] Irev-Dev commented on #488
@JustinSDK In the mean time I've documented the list of available fonts here: https://learn.cadhub.xyz/docs/general-cadhub/openscad-fonts
and made a Cadhub project demoing them here: https://cadhub.xyz/u/irevdev/all-scad-fonts
If that's useful you could link to either of those in your projects that use text.
Alternatively, since we support selects, if there's a few fonts that you think are good yo

[2021-09-05 23:54] JustinSDK commented on #488
@Irev-Dev

It seems that font setting is ok when using customizer.

![image](https://user-images.githubusercontent.com/3424741/132144713-97e63de0-6e2d-4aa2-b94e-55db24a5f087.png)

but not working in the editor.

![image](https://user-images.githubusercontent.com/3424741/132144744-046cc819-d59e-4e1e-b690-005a2ca6c570.png)

[2021-09-06 10:49] #462 closed

[2021-09-06 21:15] Irev-Dev commented on #488
ahh @JustinSDK, I think thats just because the customizer always overrules with its values, most likely even when its shut. I think if you refreshed the page it would then respect the script, but thats a good find.
Not sure of what the best approach is, maybe reset the customizer if the script changes?

[2021-09-06 21:22] hrgdavor commented on #488
I would not like if customizer is reset on script change, but a reset button that reverts customizer values to inital values from the script would be a good compromise (I have this implemented in my own prototype of jscad, and I find it personally extremely useful)

[2021-09-07 10:05] Irev-Dev opened #492 "Make new project card"
Designs are: https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/CadHub?node-id=1150%3A1619
![image](https://user-images.githubusercontent.com/29681384/132326573-7b9d1818-864b-4e17-ba06-32b6506874f8.png)

[2021-09-07 20:10] #492 closed

[2021-09-07 20:15] Irev-Dev opened #494 "Move worker into webpack build"
The jscad worker code was hosted as a static asset, making it odd javascript where we have to be conscious of what javascript features we can use and if it will work on older browsers, plus it can't be typescript like the rest of the codebase.

Since redwood 0.36 we using webpack 5 should make loading workers easy
https://webpack.js.org/guides/web-workers/
But I had trouble with this (see: https:/

[2021-09-08 08:14] #494 closed

[2021-09-08 19:12] franknoirot opened #498 "Syntax errors in scripts return "network error" in the console"
Raised by @jmwright within [Discord #general channel](https://discord.com/channels/775984095250612234/775984095250612240/885185139162902558)

[2021-09-09 08:50] Irev-Dev commented on #498
Thanks @franknoirot
Error messages working again, fixed in https://github.com/Irev-Dev/cadhub/commit/2e2e7be63392eeda1b0361d3cf31c811562e5208

[2021-09-09 08:50] #498 closed

[2021-09-09 22:12] franknoirot opened #499 "Add tests for `menuConfig` to ensure no keyboard shortcuts overlap with Monaco editor shortcuts"
We have implemented a solution for adding keyboard shortcuts to menu items using HotKeyJS, but have run into a possible issue where the editor package, Monaco Editor by Microsoft, has a large number of its own shortcuts that could interfere with our custom ones.

We would like to write a test that pulls either dynamically (preferred) or statically from a list of all of Monaco's command shortcuts t

[2021-09-09 22:14] franknoirot commented on #499
Previous research done:

[2021-09-10 08:58] Irev-Dev opened #500 "Customizer input boxes too narrow"
![image](https://user-images.githubusercontent.com/29681384/132803060-86c9858b-3d92-4bc9-a702-d347df3c657d.png)
 both text and selects are being truncated way too early imo, could be made wider.

[2021-09-10 08:58] Irev-Dev opened #501 "Ensure project cards are a consistent size"
Example of wrapping causing an issue

![image](https://user-images.githubusercontent.com/29681384/132802069-7881b3c8-2f81-4726-9af9-4595b24efd9d.png)

[2021-09-12 11:14] Irev-Dev commented on #422
Resolved by #506

[2021-09-12 11:14] #422 closed

[2021-09-12 11:14] Irev-Dev commented on #411
Resolved by #506

[2021-09-12 11:14] #411 closed

[2021-09-12 11:16] #245 closed

[2021-09-12 18:38] franknoirot opened #511 "Pressing browser back button from new project creates another project"
## Steps to Reproduce
1. Sign in
2. Create a new project
3. Press the back button

You'll be taken to a new randomly-generate URL and both starter projects will be in your project library.

## Expected behavior
Returning to the home page (or other previous page before creation)

## Suggested reasons
The `/draft/{cadPackage}` endpoint is redirecting all traffic to the IDE after creating a new proje

[2021-09-12 20:07] Irev-Dev commented on #511
Oh right, good observation. Don't have much experience detecting back clicks or any advanced stuff with the redwood router. The problem might also be the javascript redirect you mentioned I'm doing from `/draft/{cadPackage}` for logged in users. Maybe the buttons in the plus button dropdown should route differently depending on if the user is logged in or not.

[2021-09-14 20:25] Irev-Dev opened #513 "Cad package doesn't show on the user profile project card"
![image](https://user-images.githubusercontent.com/29681384/133328745-119e15c1-1688-42c7-a68c-6f48b5562fde.png)

[2021-09-18 07:44] Irev-Dev opened #515 "UserProfile empty when not logged in"
Sorry @franknoirot, I should have checked functionality a bit more before merging

https://user-images.githubusercontent.com/29681384/133880875-2ae24d38-ae81-4574-97c4-1d21854f67fe.mov

[2021-09-18 07:54] #515 closed

[2021-09-18 07:54] Irev-Dev commented on #515
Let me know if #516 is a naive fix

[2021-09-18 08:23] hrgdavor opened #517 "social card not working for jscad model"
https://cadhub.xyz/u/hrgdavor/Cookie-Shape-Surprise

https://cards-dev.twitter.com/validator
![image](https://user-images.githubusercontent.com/2480762/133882117-8445b298-d89e-4513-a642-ff3118bd9d2d.png)

[2021-09-18 11:15] franknoirot commented on #515
Great catch, thanks for finding this.

[2021-09-18 20:02] Irev-Dev commented on #517
The social card are a bit broken (just with how they look), I'll use this issue to fix that as well.

But in regards to what your raising directly in this issue, I appreciate you giving an example. There are a few things to consider so I'll list them.
- Social media card showing up on different website depends on a pre-rendering service, which is because the app is a SPA twitter etc won't wait for

[2021-09-18 20:29] hrgdavor commented on #517
Yeas I changed the title :) that probaly caused it

this one is ok https://cadhub.xyz/u/matiasmiche/jscad-oil-pumpjack

[2021-09-21 21:46] Irev-Dev opened #525 "Edit bio unavailable if bio doesn't already exist"
![image](https://user-images.githubusercontent.com/29681384/134252064-4287a70f-9b95-47c9-aa77-c7fcf88b5fc0.png)
pencil of edit state, but if no bio
![image](https://user-images.githubusercontent.com/29681384/134252107-56cdb07f-6fcb-4627-aa10-8227ca87e9ed.png)

At a guess could be related to keyValue component @franknoirot ?

[2021-09-21 23:27] franknoirot commented on #525
Yeah @Irev-Dev I'm sure it's the display logic for the BioField Component, either in `userProfileConfig` or `userProfile` itself. Want me to take a try at fixing?

[2021-09-23 03:16] franknoirot commented on #525
@Irev-Dev I've found other things I can break that need better validation. Making a list of to-do's:
- [ ] Make it impossible to set `Name` to nothing
- [ ] Make it impossible to set `userName` to nothing
- [ ] Make it impossible to give yourself an already existing `userName`, or at least their profile slug is at least kept unique if they do pick a colliding name.

Would you like for this to be i

[2021-09-23 04:51] franknoirot opened #527 "Create Embed system"
## Feature Description
Create a code snippet and supporting assets to be able to embed CadHub projects on other web sites/pages.

## Background Research
- CodePen has a [blog walkthrough post](https://blog.codepen.io/documentation/embedded-pens/) for users to explain how their embed editor works.
- CodeSandbox has an [even more thorough page](https://codesandbox.io/docs/embedding) dedicated to the

[2021-09-23 04:53] franknoirot commented on #527
@Irev-Dev here is my proposed URL structure: `https://cadhub.xyz/u/[username]/[project-name]/embed`

Based on:
- Editor view: `https://cadhub.xyz/u/irevdev/tutorial-hinge/ide`
- Details view: `https://cadhub.xyz/u/irevdev/tutorial-hinge`

[2021-09-23 04:54] franknoirot commented on #527
Just want to note that after multi-file support there will be a need to be able to define which file's code is visible in the "editor" if included in the embed.

[2021-09-23 08:59] Irev-Dev commented on #525
I've enforced that Name and userName needing to have length #526, userNames needing to be unique should already be enforced ( I check locally just incase and seems fine) which is enforced on a db level since the userName is unique in the schema
https://github.com/Irev-Dev/cadhub/blob/main/app/api/db/schema.prisma#L19

What's still not great is that these problems are not communicated to the user,

[2021-09-23 09:32] Irev-Dev commented on #527
Okay wow, this sounds like a lot more work than I was expecting 😅

I don't think I get why so much effort needs to go into sliming it down? Is it because when you load an iframe you effectively have to download two websites?

I think removing monaco make sense, but replacing react with preact (or other) and than having to roll a new fetching solution in order to remove RW deps feels like we're mai

[2021-09-23 09:37] hrgdavor commented on #527
I would agree for embed to be just preview, and maybe also show code with syntax highligh in some way(tabs, or sth).

To be able to run the code user should open cadhub.

This type of embed is very useful, and I would personally be fine with it.

[2021-09-23 11:14] franknoirot commented on #525
Excellent @Irev-Dev you made such quick work of that wow! Okay great I just gotta look at what those errors are returning but adding toasts shouldn't be too hard.

[2021-09-23 14:47] franknoirot commented on #513
This was fixed as a part of #519, I didn't catch this issue but we fixed a bug that was causing this.

[2021-09-23 14:47] #513 closed

[2021-09-23 19:33] Irev-Dev commented on #527
I believe Redwood bundles by page so we should get that for free.

yup cool, I think keeping react is a much better move from at leat getting an MVP working, can always optimize from there.

[2021-09-26 22:48] Irev-Dev commented on #488
Do you have any feed back on this approach to the customizer @JustinSDK ?
https://github.com/Irev-Dev/cadhub/pull/529#issuecomment-927193171

[2021-09-27 10:43] #511 closed

[2021-09-29 17:11] hrgdavor opened #540 "Add console toggle to side-tray"
The IDE console isn't always needed, so it would be nice to be able to hide it.
![image](https://user-images.githubusercontent.com/29681384/136712638-77c30efa-77fc-4af9-b6b8-e7ab4106851b.png)
We want to add a visibility toggle to the side tray
![image](https://user-images.githubusercontent.com/29681384/136712660-3f75c1b0-c6fe-49a4-aaf0-e747f69347c3.png)
[full designs here](https://www.figma.com/fi

[2021-09-29 19:15] Irev-Dev commented on #540
@franknoirot, @hrgdavor,

How about we add a toggle into the [side tray](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/CadHub?node-id=1561%3A4532)?

[2021-09-29 19:17] hrgdavor commented on #540
I would try, have not done a PR for some time :)

[2021-09-30 02:17] franknoirot commented on #540
@hrgdavor @Irev-Dev how does this look?

@hrgdavor if you'd like to work on this I feel like you can get it working with a normal checkbox and I can make a `Toggle` component like this one to swap out later.

[2021-09-30 05:45] hrgdavor commented on #540
Deal

[2021-09-30 08:21] Irev-Dev commented on #540
Some context:
We're using a library for the IDE panels `react-mosaic-component` , it's used in `app/web/src/components/IdeContainer/IdeContainer.tsx` and the layout is controlled by the `layout` property in the app state in `app/web/src/helpers/hooks/useIdeState.ts`.
I don't think it will be much more than dispatching the event `"setLayout"` with the new layout (i.e. with or without the console).

[2021-10-04 19:54] Irev-Dev opened #544 ""Choose you character" link don't work when signed-in in firefox"
These buttons

![image](https://user-images.githubusercontent.com/29681384/135915721-3ec63bdc-aeb2-4353-bf31-291525bd0d55.png)

[2021-10-08 22:55] Irev-Dev commented on #198
Yeah true.

We could still add something small, like perhaps the last three projects you change inside the profile dropdown
![image](https://user-images.githubusercontent.com/29681384/136632546-86c6374a-370a-434e-ad41-d417449fe639.png)

And at maybe some point we could use a seperate homepage for signed in users vs not, which could incorporate recent projects too, but we're probably a little way a

[2021-10-09 06:19] Irev-Dev commented on #198
Yup sounds great.

[2021-10-10 19:44] Irev-Dev commented on #501
Doesn't seem the be an issue anymore

[2021-10-10 19:44] #501 closed

[2021-10-10 20:10] Irev-Dev opened #550 "Add a fork relationship to the db seed"
Projects have a forking relation to each other in the DB, that is any project can refer to the a project it was forked from. however this relationship is not leverage in our seed data.

Edit `app/api/db/seed.js` to add a project that is "forked" from another to our seed data. For an example of how this is created see the function `forkProject` in `app/api/src/services/projects/projects.ts`.

For c

[2021-10-11 18:54] #550 closed

[2021-10-12 10:19] Irev-Dev opened #553 "[Adding badge](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/CadHub?node-id=1002%3A184) when people start editing code from someone else's project"
[Adding badge](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/CadHub?node-id=1002%3A184) when people start editing code from someone else's project ([full designs](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/CadHub?node-id=1002%3A184))
![image](https://user-images.githubusercontent.com/29681384/136937406-63ec61ce-b116-47b3-806b-78d4a385baa4.png)

The fork button is in `app/web/src/compone

[2021-10-12 10:34] #540 closed

[2021-10-12 10:43] Irev-Dev commented on #553
Go for it @javibodas 😁

I've assigned it to you. Let me know if you need any help.

[2021-10-12 10:46] Irev-Dev commented on #553
Some steps I just realised I missed is that you need to sign in locally with one of the demo users

localUser1@kurthutten.com: abc123

Create a project (plus button up the top right)

Then sign in as another user

localUser2@kurthutten.com: abc123

and edit the project in order to cause `showForkMessage` to become `true`.

[2021-10-12 13:54] javibodas commented on #553
Hi @Irev-Dev if I dont save the project, the variable 'project' in the context contains null value. And If I make some changes without save it, the project loaded from a different user is the saved one. I making something wrong?

[2021-10-13 09:44] Irev-Dev opened #556 "Respect user's changes when forking a project"
We allow users to "fork" each other's projects, problem is that if the users has already made some changes to the code before forking, the changes will be lost. You task is to save those changes when forking. More details as well as where to start in the video. Some GraphQL knowledge will be useful.

https://user-images.githubusercontent.com/29681384/137108716-d1cbd017-0da1-43fa-9795-93ff24eee828.

[2021-10-15 13:24] #198 closed

[2021-10-16 20:29] lucas-barros commented on #556
Hi @Irev-Dev, I would like to work on this

[2021-10-16 20:30] Irev-Dev commented on #500
I'm going to remove your assignment @1brahimkhan, incase someone else wants to have a crack at this.

Let me know if you're still working on it and I can re-assign it.

[2021-10-16 20:31] Irev-Dev commented on #556
Welcome back @lucas-barros!

It's all yours!

[2021-10-17 00:22] Irev-Dev opened #564 "Sync OpenSCAD and three.js camera to allow of zoom to fit"
We can use a feature of OpenSCAD `--viewall` to make sure the parts is not cut off on first load, but when we use the feature we need to sync up the camera position in OpenSCAD to our three.js camera so that later renders still work.

All of this information is already provided to you, you just need to sync if the cameras with the info that comes back from openSCAD.

This video has a more thorough

[2021-10-17 00:41] #556 closed

[2021-10-20 07:15] Irev-Dev commented on #564
I'm going to make a start on this one.

[2021-10-20 20:16] Irev-Dev opened #568 ""Download STL" should use project title."
When Downloading the STL
![image](https://user-images.githubusercontent.com/29681384/138159159-fb4b70de-5a9f-4854-99f6-b74383bbd085.png)
We try and pull a title from the first comment in the script for the saved file name, this dates back to when did didn't have saved projects, it would be good to use the project title instead.

Changes need to be made in `app/web/src/components/EditorMenu/menuCon

[2021-10-20 20:23] Irev-Dev commented on #568
CC @koodistrom

[2021-11-06 20:24] hrgdavor opened #573 "Consider an optional alt customizer location while in IDE"
An option to move customizer to be over editor instead of over the preview would be nice.

[2021-11-06 20:24] hrgdavor opened #574 "Hide minimap option for editor"
I personally never use the minimap, so an option to hide it would be appreciated.

[2021-11-09 18:25] Irev-Dev commented on #568
Resolved by #570

[2021-11-09 18:25] #568 closed

[2021-11-14 09:26] hrgdavor opened #577 "inverted boolean"
just a quick small issue. logic of show hide for console is inverted related to ui

![image](https://user-images.githubusercontent.com/2480762/141675196-0d0fc75e-b4b5-4bbd-a014-3b8b5428ce57.png)

I will post a fix next week, currently swamped

[2021-12-09 02:42] guidoism opened #581 "Console not wrapping long lines"
Happened to me using the OpenSCAD editor.
<img width="592" alt="Screen Shot 2021-12-08 at 9 38 21 PM" src="https://user-images.githubusercontent.com/353405/145324745-a1837f83-6c20-4261-bd44-de2101ffb700.png">

[2021-12-09 06:35] Irev-Dev commented on #581
Thanks @guidoism.

Would you be able to provide some more details on how to replicate?

What code you were running? what browser were you using?

[2021-12-09 17:41] guidoism commented on #581
Safari Version 15.1 (17612.2.9.1.20) on M1 Mac.
User Agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.1 Safari/605.1.15"
Code: https://gist.github.com/guidoism/07e7e294a32f967c623cda839076f9bb

[2021-12-10 15:27] Isaac-Tait commented on #104
Came over after your RedwoodJS talk the other day. Would Algolia be a good solution for this? I set it up on my GatsbyJS site and their free tier works well...

[2021-12-11 03:27] Irev-Dev commented on #104
Hey @Isaac-Tait, Oh nice, presenting is paying off 😁

I think Algolia would be perfect.

Just to be clear are you offering to implement this feature? If so should I assign it to you?

[2021-12-11 15:47] Isaac-Tait commented on #104
Yes please. I would be happy to be assigned this issue. I am in the midst of implementing Algolia on another project. So, this would be a good project for me to take on.

[2021-12-12 19:38] Irev-Dev commented on #104
Awesome, have at it!

I've had a chat to @franknoirot and he's going to put together some designs for the search. It's up to you if you also want to implement the designs. If you're able to get things set up with Agolia and have a basic version working. I'll be happy to match the designs 😁

[2021-12-13 17:25] Isaac-Tait commented on #104
Sounds great. I would be happy to implement the @franknoirot designs. I will get started on this asap 🤩

[2021-12-13 19:08] franknoirot commented on #104
@Isaac-Tait excellent, I'll make some designs and comment them in here after work today. Feel free to tag me with any clarifying questions.

[2021-12-14 02:55] franknoirot commented on #104
@Isaac-Tait I've made just a few designs within [this page of our Figma project](https://www.figma.com/file/VUh53RdncjZ7NuFYj0RGB9/?node-id=2313%3A5666), and I've added some functional and design notes as comments within there. While you're in the file you can hit the `C` key to enter comment mode and you should see them as clickable icons over the designs.

After chatting with @Irev-Dev here are

[2021-12-14 09:42] Irev-Dev commented on #104
@Isaac-Tait I only have a crude understand of how solutions like agolia work, from what I understand is you tell it which database columns to index for the search? in which case would the project title and the project description make sense?

[2021-12-16 14:28] Isaac-Tait commented on #104
I am running into an error right off the bat. I cloned the `cadhub` repo and then ran `yarn install` (according to the [contributing](https://github.com/Irev-Dev/cadhub/blob/main/CONTRIBUTING.md) documents) but when I run `yarn rw prisma migrate dev` I get the error:
[code]
This error cropped up earlier this year in RedwoodJS but was patched... https://github.com/redwoodjs/redwood/issues/222 At th

[2021-12-16 18:10] Irev-Dev commented on #104
Did you `cd` into the `app` directory @Isaac-Tait?

Yarn install and other commands won't work from the root directory of the repo.

![image](https://user-images.githubusercontent.com/29681384/146425878-1c10ceb3-c1ee-4095-9afd-3f3aee67d30f.png)

[2021-12-16 18:21] Irev-Dev commented on #104
maybe I should update the docs to `cd cadhub/app`

[2021-12-16 18:25] Isaac-Tait commented on #104
Yup, I was pretty sure it was something I was doing wrong on my end. I understood the docs to mean `cd into cadhub` not drill down one more level. Once I went into `app` it went smoothly. Thank you for getting me going in the right direction 🤣 What you have now in the docs makes sense now that you pointed it out. Perhaps updating the docs would make it clearer... or I could have just paid better a

[2021-12-16 18:58] Irev-Dev commented on #104
Done 😁

https://github.com/Irev-Dev/cadhub/commit/cd3060b3c729d791f8965c93f939304067dd91b8

[2021-12-18 15:42] Isaac-Tait commented on #104
I am figuring this out for the first time as I go and I am stuck on how to proceed through connecting to a local DB.

I am at the point where I need to [connect to Postgres](https://redwoodjs.com/docs/local-postgres-setup#connect-to-postgres). It says I should

If I follow the Redwood "tutorial" and use _their_ database URL I get an error saying I do not have permission to access the database.

If

[2021-12-18 15:52] Isaac-Tait commented on #104
Thank you for the explanation. Makes sense, I should be able to do that 😄  The figma designs are very cool, thank you for those @franknoirot

I can have Algolia populate an index via a GraphQL query. I can also setup multiple indices from two queries too (a feature I am excited to try out as I have read about it but have yet had an opportunity to implement). So, a search for designs and @people wo

[2021-12-18 23:43] Irev-Dev commented on #104
@Isaac-Tait you env var should look like the one in the redwood docs `DATABASE_URL="postgresql://postgres@localhost:5432/redwoodblog_dev?connection_limit=1"` where `postgres` is the username and `redwoodblog_dev` is the db name, the latter you can change to a sensible name, maybe `cadhub_dev`, that becomes the name of the db. postgres will create the db iff it doesn't exist.

If you have permissio

[2021-12-29 00:09] smartin015 opened #584 "Add "Download STL" button to the Project Profile page"
Adding a button to save an STL from the profile page would facilitate sharing printable models to folks who get anxious when they see code. This would be a pretty simple reuse of the makeStlDownloadHandler already used in the editor menu.

[2021-12-29 16:18] Isaac-Tait commented on #104
@Irev-Dev Great, that cleared up the error I had encountered. I am up and running now 🥳

[2021-12-29 17:00] UBaer21 opened #586 "special characters in comments not working"
When using a non alphanumeric character within comments the script is not executed

like  × ⇔ ↦ № ⁴ ℓ  (and many more)
/* × ⇒ ↦ № ⁴ ℓ*/
https://cadhub.xyz/draft/openscad#encoded_script_v2=eJxLLk1K1TDVtObS11I4PF3hUfskhUdtyxQetUxTeNS4BUhP1tIHAP/KD0w=

[2022-01-07 12:07] WillAdams opened #587 "Add support for node editing/block programming?"
This exists for OpenSCAD as BlockSCAD:

https://github.com/EinsteinsWorkshop/BlocksCAD

(but see: https://www.blockscad3d.com )

but I'd love to see a Blockly implementation for CADquery (or have an alternative to using BlockSCAD for OpenSCAD)

[2022-01-07 21:59] Irev-Dev commented on #584
My apologies for the delay. I've commented on you PR.

[2022-01-07 22:00] Irev-Dev commented on #104
Good news! How's it been going?

[2022-01-07 22:02] Irev-Dev commented on #586
Oh that's interesting.

Do you use characters a lot in comments?

[2022-01-07 22:11] Irev-Dev commented on #587
https://makecode.buildbee.com/ is pretty cool imo.

I doubt we'll add a block editor, With CadHub's resources (i.e. a few people's free time) it's important to stay focused, and there's already enough work with normal editors 😅

[2022-01-07 23:39] UBaer21 commented on #586
Yes actually i am using a 6 level keyboard layout which gives me direct
access to all these ( https://neo-layout.org/ ).
And I when was trying to use my scripts on cadhub they failed which could
be broken down to the characters in comments as the sole reason at it
seems.
I thought everything in comments is or at least should be ignored by the
code interpreter.
Now it is difficult to know which can

[2022-01-09 21:05] smartin015 opened #589 "Set up a Discord bot to announce new projects"
(probably wouldn't notify when the project is created but instead when the user adds an image or description for the first time because that's a good proxy for the project being in a done-ish state)

[2022-01-10 19:48] #584 closed

[2022-01-13 02:21] toddmedema opened #591 "Support Oauth / Github login"
Oauth significantly reduces the barrier to trying out new tools - I personally hate having to create accounts on random websites.

(Saw this was on the roadmap https://github.com/Irev-Dev/cadhub/discussions/212, creating its own ticket so it can be linked to and closed with a PR)

[2022-01-13 20:03] Irev-Dev commented on #591
I need to migrate our Auth provider, we're using netlify identity, which does allow GH logins, but I'm also looking to migrate the deploy to serverless and netlify identity pretty much has to be used on netlify with their functions.

Most likely auth0.

[2022-01-13 20:53] Irev-Dev commented on #104
Sorry I'm a little slow to this.

I appreciate you pushing through this. Interesting the use of GraphQL is different.

How can I help? If there's a chunk of work, or something you'd like me to investigate?

In regards to the you not having any projects locally I can probably figure out solution to that.

[2022-01-13 23:15] toddmedema commented on #240
I noticed that it has to re-render each time you rotate the camera - why are the renders being sent as an image? Couldn't they be sent as a 3D model so that you can play around with them in the browser directly via web.gl? e.g. https://threejs.org/examples/webgl_loader_stl.html

[2022-01-13 23:30] toddmedema opened #592 "Hitting enter when renaming a project doesn't save the new name"
A good starter front-end ticket

Should also then be able to remove the "rename" button that appears (following Google Docs's example that once you're editing the filename text input, pressing enter is intuitive enough to not require a separate confirmation button)

[2022-01-14 00:10] Irev-Dev commented on #240
This is why.

https://learn.cadhub.xyz/docs/general-cadhub/openscad-previews

[2022-01-16 15:29] Isaac-Tait commented on #104
It would be awesome if you could help with that. Thank you 👍🏼 😄

Right now I created a [search page](https://github.com/Isaac-Tait/algolia-cadhub-search-project/blob/0ede72739d53d1ab05f5772841d8a54696133cd5/app/web/src/pages/SearchPage/SearchPage.tsx). The next step is to sort out the graphQL query that will send the CadHub projects to the Algolia "Design" indices. Algolia will convert that into J

[2022-01-16 15:38] Isaac-Tait commented on #104
The nice thing about utilizing a GraphQL to populate the Algolia indices is that every time you build and deploy the site the Projects are sent to Algolia. So if you add a new project or update the information within a project then build and deploy the site Algolia will get the new updated information and instantly provide that to the client during a search. That does raise a question though. When

[2022-01-17 09:55] Irev-Dev commented on #104
Okay I'll look into getting more projects locally, I'll try and see if I can solve that by the end of the week.

Redwood boots up a graphql playground with the dev process (very similar to graphiql) I think it's at http://localhost:8911/graphql

Short answer to rebuilding and redeploying when users add or change a project. No. We simply can't do that, I heard of people using Gatsby when they shoul

[2022-01-18 07:49] Irev-Dev commented on #592
We can definitely make enter save the name, whether we remove the rename button I guess is up for discussion along with some of your other de-cluttering ideas for the UI.

[2022-01-19 09:52] #592 closed

[2022-01-20 15:56] Isaac-Tait commented on #104
Okay, I had an idea in the middle of the night last night. Instead of trying to push the data to Algolia using GraphQL maybe we could just manually upload it? The data would just need to be in JSON format for me to add it to Algolia... Once that is done and we have search functionality we can figure out how to update regularly. This way we are breaking it down into smaller chunks... What format is

[2022-01-22 09:39] Irev-Dev commented on #104
The db is a postgress db, and I don't think it's a good idea that I send it to you. However I have found a solution for local projects. is isaac@mountaintopcoding.com the best way to contact you @Isaac-Tait?

[2022-01-23 19:46] toddmedema opened #602 "Top bar design improvements"
- username/project: remove background highlight, avatar
- Color scheme: Singular button for colors
- Github style top left icons (down arrow instead of circled)
- Saving indicator text
- Indicate when unsaved changes: disable the save button when no unsaved changes

[2022-01-24 13:51] Isaac-Tait commented on #104
@Irev-Dev yes that is my personal email and the best way to get a hold of me. Hope you had a nice weekend 😄

[2022-01-24 19:28] Irev-Dev commented on #104
Sweet thanks,

In regards to the index issue does this help https://www.algolia.com/doc/guides/sending-and-managing-data/send-and-update-your-data/in-depth/the-different-synchronization-strategies/#full-record-updates
It sounds like full-record-updates would suit us no? as we know records change, we can update the record as apart of creating or updating project?

[2022-01-24 20:55] #587 closed

[2022-01-24 21:01] Irev-Dev opened #604 "Migrate Auth provider"
Currently using netlify identity looking to migrate to Auth0

Netlify identity doesn't give you access to the JWT secret without being on a (expensive $99/m) paid plan. Plus there's not an easy way to do staging, and broadly speaking it was an easy option when the project was starting.

- [ ] Get sign ups and new login's working with Auth0
- [ ] ensure RBAC works
- [ ] Make sure password reset flo

[2022-02-11 17:01] Isaac-Tait commented on #104
I [pinged](https://community.redwoodjs.com/t/question-about-cells-in-regards-to-algolia-search-functionality/2755/2) the Redwood forum regarding this project and got some very helpful feedback from Rob and David T. While sorting out how to write a script to populate the Algolia indices I came across [Algolia Crawler](https://www.algolia.com/doc/tools/crawler/getting-started/overview/). It works wi

[2022-02-20 06:12] Irev-Dev commented on #104
Sorry I've been a little MIA of late, thanks for looking into all this.

I'm not so sure about the crawler though I could probably set it up as an experiment. My concerns are
- The netlify hosting is likely to change, as I'd like it to change to deploying with the serverless framework on AWS. I couldn't find anywhere that said it has to be netlify with the free teir?
- I'm not sure it's fit for pu

[2022-03-07 14:45] franknoirot opened #606 "Parameter customizations made through the Viewer are not included in downloaded STL file"
## Expected Behavior
When customizing the available parameters in the Viewer pane, especially the one available on a project's details page, I would expect those customized values to take effect on the downloaded file. However, you can only ever receive the file with the parameters described in the code.

## Steps to reproduce
1. Visit [https://cadhub.xyz/u/franknoirot/silverware-drawer-divider](h

[2022-03-26 18:59] Rylangrayston commented on #319
I like ImplicitCad as well and would choose it for some designs on CadHub

[2022-03-26 19:03] Rylangrayston commented on #577
another side effect of this bug is that
switching  it to "show" hides the console and causes the render window to be stretched to tall across the screen. This stretched effect persists even after rendering a new view.

[2022-04-15 10:00] RagingRoosevelt commented on #606
I ran into this issue on my own file.  Just a data point that it isn't happening just for you.

[2022-04-23 00:14] metasean opened #607 "Font requests"
Per [Teque5](https://www.printables.com/social/102569-teque5/about)'s [font testing and ranking in the 3d printing realm](https://www.printables.com/model/71231-font-swatches-tested-ranked), it'd be good to see the following fonts added:

- [osifont](https://github.com/hikikomori82/osifont) - apparently conforms to IS0 specification 3O98, which is required in CAD for some European countries
- [Ove

[2022-04-23 19:12] angryseptagon commented on #607
OCR-A and OCR-B are also good aditions in my opinion, they are well known constant thickness monospace fonts that have been in use for decades. I think there are free to use implementations considering their widespread use and history, but I may be wrong.

[2022-04-24 09:15] Irev-Dev commented on #607
Sounds good.

I think the fonts would need to be installed on the docker image for them to be available.
https://github.com/Irev-Dev/cadhub/blob/main/app/api/src/docker/openscad/Dockerfile

[2022-04-25 01:10] Irev-Dev opened #608 "Add STEP export for CQ"

[2022-05-01 18:19] elasticdotventures opened #609 "Replace docker with podman / build under podman"
This is a todo/discussion topic.
Need to verify & write instructions for podman for those people who are migrating off docker.

[2022-05-01 18:24] elasticdotventures opened #610 "Implement OpenSCAD LSP (Language Server Protocol) in editor"
LSP "Language Server Protocol" is used by all developer IDE's to support things like intellisense.   LSP provides a common standard between applications so that every code editor doesn't need to write support for every language.

https://microsoft.github.io/language-server-protocol/

There is already an openscad LSP built for vscode and linked below:

[openscad
](https://github.com/Leathong/opensc

[2022-05-01 18:28] t-paul commented on #610
In my opinion, the OpenSCAD LSP belongs into openscad itself (https://github.com/openscad/openscad/pull/3635).

[2022-05-01 18:37] elasticdotventures commented on #607
I don't understand the nature of this request.  What about a package that simply generates the font from TTF or SVG font?

Using RUST crate, import any TTF, output as SVG, then openscad can import SVG and extrude
https://docs.rs/ttf-parser/0.15.0/ttf_parser/svg/index.html

Would be nice to be able to access Google Fonts or similar repository (this preview, render font onto surface kind of minutia

[2022-05-01 18:46] t-paul commented on #607
@elasticdotventures This asks for installing the TTF or OTF font. OpenSCAD can read that natively but it needs to be installed on the local system. All google fonts would abount to more than 1GB, so that would likely need some sort of separation, but it's possible. I believe Thingiverse has done that.

[2022-05-02 05:06] elasticdotventures commented on #610
The one in ([openscad/openscad#3635](https://github.com/antyos/vscode-openscad)) is more-updated than the
 I also think it's appropriate for @Antyos/vscode-openscad and @Tomatower/openscad both be tagged in this convo.

@t-paul I totally agree with you that LSP and perhaps others should be openscad account, I can't say if it makes more sense as part of the monorepo -- but that repo is already quit

[2022-07-17 02:54] Irev-Dev opened #611 "placeholder"

[2022-08-05 22:05] jdegenstein commented on #611
Just doing some quick research on how to secure python execution and thought I would leave this here for consideration:

https://github.com/zopefoundation/RestrictedPython

[2022-08-06 08:13] Irev-Dev commented on #611
Thanks @jdegenstein

[2022-10-17 17:57] drf5n commented on #606
I note that parameter customizations reset whenever I shrink/close the parameter window.   Maybe the ["reload each camera move?"](https://learn.cadhub.xyz/docs/general-cadhub/openscad-previews/) code is starting things from scratch when you switch windows.

[2022-11-01 15:51] lucafaggianelli opened #614 "OpenSCAD include/use directive for using external libraries"
Hey there, I just stumbled upon Cadhub, it looks like an amazing idea!

I'm trying to import some OpenSCAD models that I already created, but all of them depend on external libs, so I'm wondering if it's possible to *include* external libs without copy-pasting the entire .scad code. The multi-file support could also be a solution, but it would be nice just to install/link scad files from a GH repo

[2022-11-02 16:13] enderger opened #615 "Cannot confirm email"
Currently, I'm trying to use the confirmation link sent to my email. None of the accidentally re-sent links actually work.

[2022-11-02 16:39] hrgdavor commented on #615
cadhub is a bit frozen at the moment. Owner and main dev changed jobs, so the project is in a limbo.

Hopefully the project will continue, but I do not know any timeline when this could be.